.main_head {border:#ddd 1px solid;border-bottom:none;background:#eee;}

.main_head div {padding:0 10px 0 20px;font-size:14px; width:100%; height:36px;line-height:36px;overflow:hidden;letter-spacing:1px;}

.main_body {border:#ddd 1px solid;border-top:none;background:#FFFFFF;padding:10px;margin:0 0 30px; overflow:hidden}