html, body {
    margin: 0;
    padding: 0;
}

::selection {
    background: #37c;
    color: #FFF;
}

::-moz-selection {
    background: #37c;
    color: #FFF;
}

body {
    color: #222;
    background: #fff;
    font-family: "helvetica", "Arial", "微软雅黑", sans-serif, "宋体";
}

.col5 {
    width: 200px;
    float: left;
    margin-right: 40px;
}

.col20 {
    width: 790px;
    float: left;
}

.co790 {
    width: 790px;
    float: left;
}

.col18 {
    width: 720px;
    float: left;
    margin-right: 40px;
}

.col7 {
    width: 270px;
    float: left;
}

.content {
    overflow: hidden;
}

.logo {
    display: inline-block;
}

.logo h1 a {
    display: block;
    width: 380px;
    height: 100px;
    padding-left: 120px;
    background: url(../images/logo.png) no-repeat left top;
    color: #fff;
    text-align: left;
}

.logo .name_cn {
    display: block;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    font-size: 28px;
}

.logo .name_en {
    display: block; /*    margin-top: 0px;*/
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    font-size: 18px;
    font-weight: normal;
}

.logo_w {
    display: inline-block;
}

.login {
    float: right;
    height: 30px;
    margin-top: 10px;
    padding: 0 20px;
    color: #fff;
}

.login ul {
    float: left;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.login ul li {
    float: right;
    margin: 0;
    padding: 0;
}

.login ul li:first-child a {
    border-right: none;
}

.login ul li a {
    padding: 0 10px;
    line-height: 30px;
    color: #fff;
    border-right: 1px solid #fff;
}

.user_photo {
    float: left;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center; /*background-image: url(../images/bg_user_photo.png);*/
}

.oldweb {
    position: absolute;
    top: 40px;
    right: -70px;
}

.lang {
    float: right;
    height: 30px;
    margin-top: 10px;
    margin-right: 20px
}

.topwrapper .lang a, .topwrapper .oldweb a {
    display: inline-block;
    height: 28px;
    min-width: 58px;
    border: 1px solid #fff;
    text-align: center;
    line-height: 28px;
    vertical-align: middle;
    border-radius: 3px;
    background: none repeat scroll 0 0 #37c;
    color: #fff;
    padding: 0px 5px
}

.topwrapper .lang a:hover, .topwrapper .oldweb a:hover {
    text-decoration: none;
    border: 1px solid #fff;
    background: #fff;
    color: #37c;
}

.search {
    float: right;
    width: 198px;
    height: 28px;
    margin-top: 10px;
    border: 1px solid #fff;
    background: none repeat scroll 0 0 #fff;
    border-radius: 3px;
    left: 271px;
    top: 4px;
    position: absolute;
}

form {
    display: block;
    position: relative;
    z-index: 1000;
}

.topwrapper .search .text {
    border: medium none;
    height: 28px;
    left: 0px;
    top: 0px;
    width: 150px;
    padding: 0 0 0 10px;
}

.topwrapper .search .button {
    background: url("../images/search.png") no-repeat scroll center center #fff;
    border: medium none;
    cursor: pointer;
    font-size: 0;
    height: 28px;
    padding: 0;
    text-indent: -10000px;
    width: 38px;
    right: 0;
}

/* 导航 */
.navbar {
    text-align: center;
    width: 100%;
    background: #26b;
    position: relative;
    margin-top: 0px;
}

.topwrapper .navitem {
    clear: both;
    height: 60px;
    line-height: 60px;
    z-index: 999999;
    margin: 0 auto;
    width: 1030px;
    padding: 0;
}

.topwrapper .navitem li {
    float: left;
    color: #fff;
    display: block;
    height: 60px;
    width: 84px;
    text-align: center;
    font-size: 13px;
}

.topwrapper .navitem li a {
    color: #fff;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}

.topwrapper .navitem li a:hover {
    text-decoration: none;
    background: #37c;
}

.topwrapper .navitem li.cur {
    background: #48d;
}

.topwrapper .navitem li ul {
    display: none;
    position: absolute;
    margin: 0;
    width: 250px;
    padding: 10px 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
    border: 1px solid #37c;
    border-top: none;
}

.topwrapper .navitem li ul li {
    height: 40px;
    width: 240px;
}

.topwrapper .navitem li ul li a {
    display: block;
    width: 240px;
    height: 40px;
    line-height: 40px;
    padding: 0 0 0 20px;
    color: #222;
    text-align: left;
}

.topwrapper .navitem li ul li a:hover {
    background: #37c;
    line-height: 40px;
    color: #fff;
    text-decoration: none;
}

.topwrapper .WebTabMain {
    clear: both;
    height: 60px;
    line-height: 60px;
    z-index: 999999;
    margin: 0 auto;
    width: 1030px;
    padding: 0;
}

.topwrapper .WebTabMain li {
    float: left;
    color: #fff;
    display: block;
    height: 60px;
    width: 84px;
    text-align: center;
    font-size: 13px;
}

.topwrapper .WebTabMain li a {
    color: #fff;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}

.topwrapper .WebTabMain li a:hover {
    text-decoration: none;
    background: #37c;
}

.topwrapper .WebTabMain li.cur {
    background: #48d;
}

.topwrapper .WebTabMain li ul {
    display: none;
    position: absolute;
    margin: 0;
    width: 250px;
    padding: 10px 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
    border: 1px solid #37c;
    border-top: none;
}

.topwrapper .WebTabMain li ul li {
    height: 40px;
    width: 240px;
}

.topwrapper .WebTabMain li ul li a {
    display: block;
    width: 240px;
    height: 40px;
    line-height: 40px;
    padding: 0 0 0 20px;
    color: #222;
    text-align: left;
}

.topwrapper .WebTabMain li ul li a:hover {
    background: #37c;
    line-height: 40px;
    color: #fff;
    text-decoration: none;
}

.megamenu {
    position: absolute;
    top: 60px;
    width: 100%;
    height: 200px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1px 2px rgba(50, 50, 50, 0.3);
    display: none;
    z-index: 999;
}

.headline {
    height: 30px;
    line-height: 30px;
    margin-bottom: 30px;
}

.headline h2 {
    float: left;
    line-height: 30px;
    padding-right: 40px;
    background: #fff;
    font-weight: normal;
}

.headline h2 a {
    color: #222;
    cursor: pointer;
}

.headline h2 a:hover {
    color: #37c;
}

.headline ul {
    float: left;
    padding-right: 40px;
    display: block;
    background: #fff;
}

.headline ul li {
    float: left;
    margin: 0px;
}

.headline ul li a {
    color: #777;
    padding: 0 20px;
    border-right: 1px solid #e5e5e5;
}

.headline .tags li:first-child a {
    padding-left: 0px;
}

.headline .tags li:last-child a {
    border-right: none;
    padding-right: 0px;
}

.headline .tags li a:hover {
    color: #37c;
    text-decoration: none;
}

.divide {
    height: 1px;
    right: 0;
    top: 50%;
    width: 100%;
    background: #e5e5e5;
    border-right: 50px solid #37c;
    box-sizing: border-box;
    z-index: -1;
}

.container {
    width: 1180px;
    margin: 0 auto;
    position: relative;
}

.midwrapper {
    margin-top: 30px;
    overflow: hidden;
    height: auto;
    min-height: 420px;
}

.btn_primary { /*display: block;*/
    height: 28px;
    line-height: 28px;
    border: 1px solid #37c;
    border-radius: 3px;
    font-size: 13px;
    text-align: center;
    color: #fff !important;
    background: #37c;
}

.btn_primary:hover {
    border: 1px solid #48d;
    color: #fff !important;
    background: #48d;
}

.btn_default {
    display: block;
    display: block;
    height: 28px;
    line-height: 28px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 13px;
    text-align: center;
    color: #222 !important;
    background: #fff;
}

.btn_default:hover {
    color: #222 !important;
    border: 1px solid #777;
}

/*分段控件*/

.segment {
    height: 30px;
    overflow: hidden;
    margin-bottom: 30px;
    clear: both;
    float: none;
}

.segment_content {
    height: 30px;
}

.segment_content li {
    float: left;
    height: 28px;
    height: 28px;
    margin-left: -1px;
    text-align: center;
    border: 1px solid #37c;
    color: #37c;
    overflow: hidden;
}

.segment_content li:first-child {
    margin-left: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.segment_content li:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.segment_content li a {
    display: block;
    width: 100%;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    color: #37c;
}

.segment_content li .cur {
    background: #37c;
    color: #fff;
}

.segment_content li .cur:hover {
    background: #48d;
}

.segment_content li:hover {
    background: #f4f8fd;
    color: #37c;
}

.s3 {
    width: 33.2%;
}

.s22 {
    width: 49%;
}

/*列表页侧栏*/
.side_ad {
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
}

.side_follow {
    margin: 0 0 10px 0;
    padding: 10px; /*border: 1px solid #e5e5e5;*/
    overflow: hidden;
}

.side_follow dl {
    font-size: 18px;
    float: none;
    clear: both;
    margin-bottom: 10px;
}

.side_follow a {
    color: #777;
    cursor: pointer;
}

.side_follow a:hover {
    color: #222;
}

.side_follow dl span {
    display: block;
    float: none;
    clear: both;
    font-size: 13px;
    color: #777;
}

.side_follow dd {
    line-height: 40px;
    color: #777;
}

.btn_brochure, .btn_post, .btn_transfer {
    display: block;
    width: 140px;
    padding-left: 60px;
    color: #777;
    font-size: 18px;
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
}

.btn_brochure:hover, .btn_post:hover, .btn_transfer:hover {
    color: #37c;
    border: 1px solid #37c;
}

.btn_brochure {
    position: relative;
    height: 78px;
    line-height: 68px;
    background: #fff url(../images/ic_side_download.png) no-repeat left center;
}

.btn_brochure:hover p {
    color: #37c;
}

.btn_brochure p {
    position: absolute;
    top: 18px;
    font-size: 13px;
    color: #777;
}

.btn_post {
    height: 58px;
    line-height: 58px;
    background: url(../images/ic_side_post.png) no-repeat left center;
}

.btn_transfer {
    height: 58px;
    line-height: 58px;
    background: url(../images/ic_side_transfer.png) no-repeat left center;
}

.btn_brochure:hover {
    background: #fff url(../images/ic_side_download_hover.png) no-repeat left center;
}

.btn_post:hover {
    background: url(../images/ic_side_post_hover.png) no-repeat left center;
}

.btn_transfer:hover {
    background: url(../images/ic_side_transfer_hover.png) no-repeat left center;
}

.ic_side_sweibo, .ic_side_tweibo {
    float: left;
    width: 40px;
    height: 40px;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.ic_side_sweibo {
    background: url(../images/ic_float_sweibo.png) no-repeat left center;
}

.ic_side_tweibo {
    background: url(../images/ic_float_tweibo.png) no-repeat left center;
}

/*带图片的新闻列表*/
.pictext {
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 30px;
    margin-bottom: 30px;
    float: none;
    clear: both;
    overflow: hidden;
}

.pictext a:hover {
    color: #222;
}

.pictext .pic {
    float: left; /* width: 320px; height: 210px; */
    margin-right: 20px;
    overflow: hidden;
}

.pictext .text {
    float: left;
    width: 430px;
}

.pictext .text .post_date {
    margin-bottom: 40px;
    color: #777;
}

.pictext .text .post_title {
    margin-bottom: 10px;
    width: 430px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pictext .text .post_summary {
    color: #777;
}

.pictext .text .btn_detail {
    width: 118px;
    position: absolute;
    bottom: 30px;
}

.pictext {
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 30px;
    margin-bottom: 30px;
    float: none;
    clear: both;
    overflow: hidden;
}

.pictext a:hover {
    color: #222;
}

.activity-list .pictext {
    padding-left: 270px;
}

.activity-list .pictext .pic {
    margin-left: -270px;
}

/*纯文字新闻列表*/
.text_only {
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 30px;
    margin-bottom: 30px;
    float: none;
    clear: both;
    overflow: hidden;
}

.text_only a:hover {
    color: #222;
}

.text_only .text .post_date {
    margin-bottom: 10px;
    color: #777;
}

.text_only .text .post_title {
    margin-bottom: 10px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text_only .text .post_summary {
    color: #777;
}

.text_onlyt .text .btn_detail {
    width: 118px;
    position: absolute;
    bottom: 30px;
}

.btn_loadmore {
    margin: 20px auto 0 auto;
    width: 358px;
    display: block;
}

/*面包屑导航*/
.breadcrumb {
    height: 30px;
    margin-bottom: 30px;
}

.crumbnav {
    float: left;
    width: 600px;
    line-height: 30px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.crumbnav li:first-child {
    background: none;
    padding: 0;
}

.crumbnav_item {
    float: left;
    padding: 0 10px 0 20px;
    background: url(../images/ic_diagonal.png) no-repeat left center;
}

.crumbnav_item a {
    color: #777;
}

.crumbnav_item a:hover {
    color: #222;
}

.crumbnav .home {
    display: block;
    float: left;
    width: 20px;
    height: 30px;
    opacity: 0.4;
    filter: alpha(opacity=40);
    background: url(../images/ic_crumb_home.png) no-repeat left center;
}

.crumbnav .home:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.btn_back {
    float: right;
    width: 120px;
}

/* 底部 */
.bottomwrapper {
    padding-top: 30px;
    margin-top: -100px;
    background: #37c;
    color: #fff;
    clear: both;
    float: none;
    position: relative;
}

.bottomwrapper a {
    color: #fff;
}

.bottomwrapper a:hover {
    text-decoration: underline;
}

.contact {
    width: 1180px;
    margin: 0 auto;
    height: 140px;
    clear: both;
    float: none;
}

.qrcode {
    float: left;
    width: 92px;
    overflow: hidden;
    margin-right: 30px;
}

.qrcode p {
    margin-top: 6px;
}

.contact_info {
    float: left;
    width: 400px;
    overflow: hidden;
}

.contact_info dt {
    float: left;
}

.contact_info dd {
    margin-left: 40px;
    line-height: 20px;
}

.follow {
    float: right;
}

.follow dl {
    overflow: hidden;
    margin-bottom: 25px;
}

.follow dl dt {
    font-size: 18px;
    text-align: right;
    float: none;
    margin-bottom: 10px;
}

.follow dl dd {
    float: right;
    text-align: right;
    margin-left: 20px;
}

.follow ul {
    overflow: hidden;
}

.follow ul li {
    float: right;
}

.follow ul li:first-child a {
    padding-right: 0;
    border-right: none;
}

.follow li a {
    display: block;
    font-size: 13px;
    line-height: 15px;
    padding: 0 20px;
    border-right: 1px solid #fff;
}

.ic_follow_sweibo, .ic_follow_tweibo {
    display: block;
    width: 40px;
    height: 40px;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.ic_follow_sweibo {
    background: url(../images/ic_bottom_sweibo.png) no-repeat center center;
}

.ic_follow_tweibo {
    background: url(../images/ic_bottom_tweibo.png) no-repeat center center;
}

.ic_follow_sweibo:hover, .ic_follow_tweibo:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.copyright {
    background: #26b;
    color: #fff;
    height: 40px;
    line-height: 40px;
}

#AdLayer {
    position: fixed;
    width: 60px;
    height: 360px;
    top: 200px;
    right: 10px;
    z-index: 100;
}

#WeiboLayer {
    position: fixed;
    width: 118px;
    height: 244px;
    top: 200px;
    left: 10px;
    background: url("../images/weibolayer.jpg") no-repeat;
    z-index: 20000;
}

#WeiboLayer .sinawb {
    margin-top: 34px;
    display: block;
    height: 43px;
    text-indent: -1000px;
}

#WeiboLayer .qqwb {
    display: block;
    height: 43px;
    text-indent: -1000px;
}

.sideMenu {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: block;
    margin-bottom: 20px;
    opacity: 1;
    filter: alpha(opacity=100);
    padding: 15px;
    text-align: center;
    width: 24px;
}

.sideMenu:hover {
    border: 1px solid #999;
}

.ic_float_top, .ic_float_share, .ic_float_home, .ic_float_sweibo, .ic_float_tweibo {
    display: block;
    width: 24px;
    height: 24px;
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.sideMenu:hover .ic_float_top, .sideMenu:hover .ic_float_share, .sideMenu:hover .ic_float_home, .sideMenu:hover .ic_float_sweibo, .sideMenu:hover .ic_float_tweibo {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.ic_float_top {
    background: url(../images/ic_float_top.png) no-repeat center center;
}

.ic_float_share {
    background: url(../images/ic_float_share.png) no-repeat center center;
}

.ic_float_sweibo {
    background: url(../images/ic_float_sweibo.png) no-repeat center center;
}

.ic_float_tweibo {
    background: url(../images/ic_float_tweibo.png) no-repeat center center;
}

.ic_float_home {
    background: url(../images/ic_float_home.png) no-repeat center center;
}

/*自定义弹出层样式*/
.modal-dialog {
    background: #fff;
    font-size: 13px
}

.modal-dialog {
    border: none !important;
    border-radius: 4px
}

/*ADD*/
/*.modal-dialog .ui-dialog-titlebar { display:none }*/
.ui-dialog .ui-dialog-titlebar-close {
    background-image: url(../images/common/close.png) !important;
    background-color: #FFF !important;
    color:: #FFF;
}

.ui-button-text, ui-button-icon-primary {
    display: none;
}

.ui-dialog .ui-dialog-titlebar {
    background-color: #FFF !important;
    height: 35px;
}

.ui-state-hover {
    color: inherit !important;
}

.ui-dialog .ui-dialog-titlebar-close:hover {

    background-image: url(../images/common/close.png) !important;
}

.login-dialog {
    height: 520px !important;
}

.ui-draggable .ui-dialog-titlebar {
    border-color: #FFF;
}

/*end*/

/*蓝色弹窗主题*/
.mod-dialog {
    border: 1px solid #36a !important;
    padding: 0;
}

.mod-dialog .ui-dialog-content {
    padding: 15px 20px 20px 20px;
    background: #fff
}

.mod-dialog .ui-dialog-title {
    color: #fff;
    padding-left: 0;
    font-weight: normal;
    font-size: 14px;
}

.mod-dialog .ui-dialog-titlebar {
    background-color: #36a !important;
    height: auto;
    border-color: #36a
}

.mod-dialog .ui-dialog-titlebar-close {
    background-image: url(../js/jqueryui/images/ui-icon-dialog-titlebar-closed.png) !important;
    background-color: transparent !important;
    color:: #FFF;
}

.mod-dialog .ui-dialog-titlebar-close:hover {
    background-image: url(../js/jqueryui/images/ui-icon-dialog-titlebar-closed-hover.png) !important;
}

.modal-dialog .ui-dialog-content {
    padding: 0
}

.modal-dialog .dialog_close_btn {
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 11
}

.modal-dialog .icon-close {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url(../images/common/close.png) 0 0 no-repeat;
}

.modal-dialog .title {
    font-size: 13px;
    color: #222;
    line-height: 20px;
    padding: 15px 20px;
    text-align: left
}

/*发起对接弹出层*/
.abutment-dialog {
    height: 410px !important;
}

.formtop {
    margin-top: -15px;
}

.abutment-dialog .bd {
    padding: 0px 45px;
}

.abutment-dialog .bd h2 {
    font-size: 24px;
    color: #222;
    line-height: 55px;
    padding-left: 25px
}

.abutment-dialog .bd .form-item {
    padding: 5px 0px 0px 80px
}

.abutment-dialog .half {
    display: inline-block !important;
    width: 230px !important;
}

.col15 {
    width: 215px !important;
}

.abutment-dialog .bd .form-item_half .form-label {
    margin-left: -80px;
    width: 60px
}

.abutment-dialog .bd .form-item .form-label {
    margin-left: -80px;
    width: 60px
}

/*登录弹出层*/
.login-form {
    padding: 30px 170px 50px 170px;
    font-size: 13px;
}

.login-form .title {
    text-align: center;
    font-size: 20px
}

.loginbox ul {
    padding: 10px 0px 20px 0px
}

.loginbox ul li {
    position: relative
}

.loginbox .input-text {
    height: 20px;
    line-height: 20px;
    padding: 13px 0px 13px 50px;
    width: 326px;
    border: 1px solid #e5e5e5;
    font-size: 13px;
}

.loginbox .input-text.first {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-bottom: -1px
}

.loginbox .input-text.last {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px
}

.loginbox .btn-login {
    line-height: 50px;
    font-size: 18px
}

.loginbox .icon {
    width: 18px;
    height: 20px;
    display: inline-block;
    line-height: 20px;
    position: absolute;
    left: 20px;
    top: 13px
}

.loginbox .icon-username {
    background: url(../Images/common/ic_username.png) 0 0 no-repeat
}

.loginbox .icon-password {
    background: url(../Images/common/ic_password.png) 0 0 no-repeat
}

.login-dialog .btn_add {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    position: absolute;
    bottom: 0
}

.login-form .action {
    line-height: 30px;
}

.login-form .action [class^="icon-"] {
    margin-right: 10px
}

.login-form .login-alert {
    height: 30px;
}

.login-form .logo {
    background: url(../images/Innovation/r-logo.png) 0 0 no-repeat;
    padding-left: 70px;
    margin-top: 0;
    padding-bottom: 30px
}

.login-form .logo a {
    color: #888;
    font-size: 13px
}

.login-form .logo .l-text {
    color: #222;
    font-size: 24px;
    padding-top: 8px;
    padding-bottom: 10px;
    line-height: 24px
}

.fo0 {
    /*position:absolute;*/

    filter: alpha(opacity:0);
    opacity: 0;
    top: 20px;
    height: 30px;
    margin-left: -150px;
    font-size: 40px;
    width: 150px;
}

.imgbox {
    border: 1px solid #e5e5e5;
    margin-right: 20px;
    /*width:180px;height:120px;text-align:center;vertical-align:baseline;*/
    background: url(../../temple/images/common/head2.png) no-repeat center center;
}

.imgbox img {
    max-width: 120px;
    max-height: 160px;
}

.hide {
    display: none;
}

/*上传控件*/

/*.pRelative {
    height: 40px;
}*/

.filearea {
    width: 100%;
    height: 144px;
    overflow-y: auto;
}

.attachment .hd {
    height: 30px;
}

.pRelative object {

    left: -118px;
    position: relative;
    /*top: 12px;*/
    filter: alpha(opacity:0);
    opacity: 0;
    top: -18px;
}

.uploadifyQueue {
    position: relative;
    height: 20px !important;
    top: -30px;
    /*display: none;*/
}

.CommentAttachment p {
    width: 550px;
}

.hide {
    display: none;
}

.hideimportant {
    display: none !important;
}

/*.upload-photo * {
    float: left;*/
/*}*/

/*广告 begin*/

/*#assbarner .prev {margin-right: 5px;float:left;}
#assbarner .next {margin-right: 5px;float:left;}*/
.barnerpagination {
    list-style: none;
    z-index: 9999;
    float: right;
    position: relative;
    bottom: 20px;
    right: 10px;
}

.barnerpagination li {
    float: left;
    margin: 0 1px;
}

.barnerpagination li a {
    display: block;
    width: 13px;
    height: 0;
    padding-top: 13px;
    background-position: 0 0;
    float: left;
    overflow: hidden;
    background-image: url(../images/circle.png);
}

.barnerpagination li.current a, .pagination li.current a:hover {
    background-position: -16px -0px
}

.barnerpagination li a:hover {
    background-position: 0px -0px
}

/*首页banner滚动广告*/
#assbarner .assbarner {
    /*background:url(../images/Ass-barner.png) no-repeat;*/
    height: 140px;
    width: 100%;
}

#assbarner .assbarner * {
    display: inline-block;
    color: #fff;
}

#assbarner .assbarner img, #assbarner .assbarner object, #assbarner .assbarner embed {
    width: 1030px;
    height: 140px;
}

/*首页通栏广告1*/
#assbarner1 .assbarner {
    /*background:url(../images/Ass-barner.png) no-repeat;*/
    height: 73px;
    width: 100%;
}

#assbarner1 .assbarner * {
    display: inline-block;
    color: #fff;
}

#assbarner1 .assbarner img, #assbarner1 .assbarner object, #assbarner1 .assbarner embed {
    width: 1030px;
    height: 73px;
}

/*首页通栏广告2*/
#assbarner2 .assbarner {
    /*background:url(../images/Ass-barner.png) no-repeat;*/
    height: 73px;
    width: 100%;
}

#assbarner2 .assbarner * {
    display: inline-block;
    color: #fff;
}

#assbarner2 .assbarner img, #assbarner2 .assbarner object, #assbarner2 .assbarner embed {
    width: 1030px;
    height: 73px;
}

/*首页通栏广告3*/
#assbarner3 .assbarner {
    /*background:url(../images/Ass-barner.png) no-repeat;*/
    height: 73px;
    width: 100%;
}

#assbarner3 .assbarner * {
    display: inline-block;
    color: #fff;
}

#assbarner3 .assbarner img, #assbarner3 .assbarner object, #assbarner3 .assbarner embed {
    width: 1030px;
    height: 73px;
}

/*半栏广告*/
/*.mod { margin: 20px 0 20px 0; padding: 0px; float:none; overflow: hidden; }*/
.advhalfleft {
    margin: 20px 0 20px 0;
    padding: 0;
    width: 680px;
    /*display:inline-block;*/
    float: left;
    margin-right: 26px;
    overflow: hidden;
}

.advhalfright {
    margin: 20px 0 20px 0;
    padding: 0;
    width: 320px;
    float: left;
    /*display:inline-block;*/
    overflow: hidden;
}

/*首页半栏广告左1*/

#assbarner5 .assbarner {
    /*background:url(../images/Ass-barner.png) no-repeat;*/
    height: 73px;
}

#assbarner5 .assbarner * {
    display: inline-block;
    color: #fff;
}

#assbarner5 .assbarner img, #assbarner5 .assbarner object, #assbarner5 .assbarner embed {
    width: 680px;
    height: 73px;
}

/*首页半栏广告右1*/

#assbarner8 .assbarner {
    /*background:url(../images/Ass-barner.png) no-repeat;*/
    height: 73px;
}

#assbarner8 .assbarner * {
    display: inline-block;
    color: #fff;
}

#assbarner8 .assbarner img, #assbarner8 .assbarner object, #assbarner8 .assbarner embed {
    width: 320px;
    height: 73px;
}

/*首页半栏广告左1*/

#assbarner6 .assbarner {
    /*background:url(../images/Ass-barner.png) no-repeat;*/
    height: 73px;
}

#assbarner6 .assbarner * {
    display: inline-block;
    color: #fff;
}

#assbarner6 .assbarner img, #assbarner6 .assbarner object, #assbarner6 .assbarner embed {
    width: 680px;
    height: 73px;
}

/*首页半栏广告右1*/

#assbarner9 .assbarner {
    /*background:url(../images/Ass-barner.png) no-repeat;*/
    height: 73px;
}

#assbarner9 .assbarner * {
    display: inline-block;
    color: #fff;
}

#assbarner9 .assbarner img, #assbarner9 .assbarner object, #assbarner9 .assbarner embed {
    width: 320px;
    height: 73px;
}

/*首页半栏广告左1*/

#assbarner7 .assbarner {
    /*background:url(../images/Ass-barner.png) no-repeat;*/
    height: 73px;
}

#assbarner7 .assbarner * {
    display: inline-block;
    color: #fff;
}

#assbarner7 .assbarner img, #assbarner7 .assbarner object, #assbarner7 .assbarner embed {
    width: 680px;
    height: 73px;
}

/*首页半栏广告右1*/

#assbarner10 .assbarner {
    /*background:url(../images/Ass-barner.png) no-repeat;*/
    height: 73px;
}

#assbarner10 .assbarner * {
    display: inline-block;
    color: #fff;
}

#assbarner10 .assbarner img, #assbarner10 .assbarner object, #assbarner10 .assbarner embed {
    width: 320px;
    height: 73px;
}

/*一级页面通栏广告*/
#assbarner11 .assbarner {
    /*background:url(../images/Ass-barner.png) no-repeat;*/
    height: 140px;
    width: 100%;
}

#assbarner11 .assbarner * {
    display: inline-block;
    color: #fff;
}

#assbarner11 .assbarner img, #assbarner11 .assbarner object, #assbarner11 .assbarner embed {
    width: 1030px;
    height: 140px;
}

/*一级页面左侧栏广告1*/
#assbarner12 .assbarner {
    /*background:url(../images/Ass-barner.png) no-repeat;*/
    height: 260px;
    width: 100%;
}

#assbarner12 .assbarner * {
    display: inline-block;
    color: #fff;
}

#assbarner12 .assbarner img, #assbarner12 .assbarner object, #assbarner12 .assbarner embed {
    width: 200px;
    height: 260px;
}

/*一级页面左侧栏广告2*/
#assbarner13 .assbarner {
    /*background:url(../images/Ass-barner.png) no-repeat;*/
    height: 260px;
    width: 100%;
}

#assbarner13 .assbarner * {
    display: inline-block;
    color: #fff;
}

#assbarner13 .assbarner img, #assbarner13 .assbarner object, #assbarner13 .assbarner embed {
    width: 200px;
    height: 260px;
}

/*一级页面左侧栏广告2*/
#assbarner14 .assbarner {
    /*background:url(../images/Ass-barner.png) no-repeat;*/
    height: 260px;
    width: 100%;
}

#assbarner14 .assbarner * {
    display: inline-block;
    color: #fff;
}

#assbarner14 .assbarner img, #assbarner14 .assbarner object, #assbarner14 .assbarner embed {
    width: 200px;
    height: 260px;
}

/*广告 end*/

.bottomwrapper .f_clear {
    margin: auto;
    width: 110px;
    padding-left: 30px;
}

.bottomwrapper .f_clear a {
    display: block;
    height: 50px;
    width: 110px;
    overflow: hidden;
    float: left;
    margin-bottom: 20px;
}

.bottomwrapper .f_clear a#_gx_gangting {
    background-image: url(../images/cyberhome.gif);
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.bottomwrapper .f_clear a#_gx_baicp {
    background-image: url(../images/baicp.gif);
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
