body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td{ margin: 0; padding: 0; }
body, button, input, select, textarea {font-family:"helvetica", "Arial", "微软雅黑", sans-serif, "宋体";}
/*h1, h2, h3, h4, h5, h6, button, input, select, textarea { font-size: 100%; }*/
ol, ul { list-style: none; }
img { border: 0; vertical-align:middle}
em, cite, i, var, s { font-style: normal; }
table { border-collapse: collapse; border-spacing: 0; }
a { color: #222; text-decoration: none; }
a:visited, a:active { text-decoration: none; }
a:hover { color: #111;}
.fl { /*float: left;*/ }
.fr { float: right; }
.f10 { font-size: 10px; }
.f12 { font-size: 12px; }
.f14 { font-size: 14px; }
.f16 { font-size: 16px; }
.f18 { font-size: 18px; }
.f20 { font-size: 20px; }
.f24 { font-size: 24px; }
.f36{ font-size:36px}
.mt5 { margin-top:5px; }
.mt10 { margin-top:10px; }
.mt20 { margin-top: 20px; }
.mt30{margin-top:30px}
.ml5 { margin-left:5px; }
.mr5{margin-right:5px}
.mr10{margin-right:10px}
.mr15{margin-right:15px}
.ml10 { margin-left:10px; }
.mr10 { margin-right:10px; }
.mr20 { margin-right:20px; }
.mlr5{margin-left:5px;margin-right:5px;}
.gray { color:#999; }
.blue { color:#37c; }
.green { color:#3a6; }
.red { color:#c44; }
.mb { margin-bottom: 10px; }
.mb10 { margin-bottom: 10px; }
.hidden { display: none; }
hr { padding: 0; font-size: 0; line-height: 0; height: 0; border: solid #e5e5e5; border-width: 0 0 1px; }
.al { text-align:left; }
.ac { text-align:center; }
.ar { text-align:right; }
.clear { display:block; overflow:hidden; clear:both; height:0; line-height:0; font-size:0; }
.clearfix {  *zoom:1;}
.clearfix:after { content: " "; display: block; height: 0; clear: both; visibility: hidden; }
* html .clearfix { height: 1%; }
/*html5*/
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}
.break-word { word-wrap: break-word; word-break:break-all; }
.nowarp { white-space:nowrap; }
.hide { display: none; }
.show { display: block; }
.gray1 { background: #f5f5f5; }
.gray2 { background: #EEE; }
.clear,.clearfix {zoom: 1}
