.hoverLayer{
    position: absolute;
    display: none;
    border-radius: 8px;
    width: 142px;
    height: 220px;
    border: solid 2px #4a7af5;
    background: #fff;
    box-shadow: 0 3px 6px 0px rgba(0,0,0,0.2);
    z-index:10000;
}
.hoverLayer .s{
    width: 8px;
    height: 12px;
    position: absolute;
    left: -8px;
    top: 15px;
    background: url(../../images/wykj/img/s.png);
}
.hoverLayer,.hoverLayer *{
    box-sizing: border-box;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
.hoverLayer ul,.hoverLayer li{
    width: 100%;
    list-style: none;
}
.hoverLayer ul{
    padding: 10px 0;
}
.hoverLayer li{
    padding: 0 20px;
}
.hoverLayer li:not(:last-of-type){
    margin-bottom: 4px;
}
.hoverLayer .tit{
    height: 30px;
    line-height: 30px;
    border-bottom: solid 1px #D8D8D8;
    color: #515151;
}
.hoverLayer .tit{
    height: 30px;
}
.hoverLayer .area{
    float: left;
    text-align: left;
}
.hoverLayer .info{
    text-align: right;
}
.hoverLayer .area{
    color: #B2B2B2;
}
.hoverLayer .num{
    color: #FF8966;
}
.hoverLayer .text{
    color: #515151;
}
