.m-l-5{margin-left: 5px;}	
.m-l-10{margin-left: 10px;}	
.m-l-15{margin-left: 15px;}	
.m-l-20{margin-left: 20px;}	

.m-r-5{margin-right: 5px;}	
.m-r-10{margin-right: 10px;}	
.m-r-15{margin-right: 15px;}	
.m-r-20{margin-right: 20px;}	

.m-t-5{margin-top: 5px;}	
.m-t-10{margin-top: 10px;}	
.m-t-15{margin-top: 15px;}	
.m-t-20{margin-top: 20px;}	

.m-b-5{margin-bottom: 5px;}	
.m-b-10{margin-bottom: 10px;}	
.m-b-15{margin-bottom: 15px;}	
.m-b-20{margin-bottom: 20px;}	

.fl{float:left;}
.fr{float: right;}

body{
	text-align: center;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #515151;
	padding: 0;
	margin: 0 auto;
}

.titleMore{
	text-decoration: none;
	font-size: 12px;
	font-weight:normal;
	color:#666;
	margin-right: 25px;
}
.titleMore:HOVER{
	color: #06f;
}
.headtip{
	width:94%;
	height: 30px;
	margin:0 auto;
	line-height:30px;
	background: #EAEAEA;
	text-align: left;
	padding-left: 6%;
}

.headtip a{
	color: #7EA2F0;
	text-decoration: none;
}

.headtip a:HOVER{
	color: #0000EE;
}

.headtip .help{
	float: right;
	margin-right: 6%;
	margin-left:1%;
}

.head{
	background:url(../../images/wykj/wysn_index/wysn_topbg.jpg) no-repeat center; 
	height:160px; 
	z-index:1000;
    margin: 0 auto;
    clear: both;
    position: relative;
    width: 1200px;
}
.head p {margin-top:94px; margin-left:462px; width:246px; text-align:center; overflow:hidden; color:#f00; font-size:20px; font-weight:bold;}
.wysn_topsearch {float:right; padding-top:46px; width: 482px;}
.wysn_topsercont {height:42px; background:#fff; border:1px solid #7fa7f6; -webkit-box-shadow:0 2px 3px rgba(0,0,0,0.12); -moz-box-shadow:0 2px 3px rgba(0,0,0,0.12); box-shadow:0 2px 3px rgba(0,0,0,0.12); overflow:hidden;}
.wysn_topsercont .choose {float:left; width:78px; position:relative; z-index:99; color:#777; cursor:pointer; border-right:1px #eee solid; text-align:center;}
.wysn_topsercont .slidkey {display:block; font-size:14px;}
.wysn_topsercont .slidkey em,.wysn_topsercont .slidkey i {line-height:42px;}
.wysn_topsercont .slidkey i {color:#ccc; margin-left:5px; position:relative; top:-2px;}
.wysn_topsercont .slidkey_hide {display:none; position:absolute; top:40px; left:0; width:77px; border:1px #eee solid; border-top:none;}
.wysn_topsercont .slidkey_hide li {background:#fff; font-size:14px; color:#777;line-height:36px; cursor:pointer;}
.wysn_topsercont .slidkey_hide li:hover {background-color:#eee;}
.wysn_topsercont .slidkey_hide .cur {color:#7fa7f6;}
.wysn_topsercont .slidkey_hide .cur:hover {background-color:#fff;}
.wysn_topsearch .searchinp {float:left; width:310px; padding-left:10px; border:0 none; line-height:42px; height: 42px; font-size:14px; color:#777;}
.wysn_topsercont .searchbtn {float:right; width:80px; height:42px; line-height:42px; background-color:#7fa7f6; color:#fff; text-align:center; font-size:14px; }
.wysn_topsercont .searchbtn:hover {background-color:#6293f5;}
.wysn_topsercont .searchbtn i {font-size:18px; line-height:42px;margin-right:5px; top:-2px; position:relative;}
.wysn_topsearch .hotlink {height:35px; line-height:35px; color:#fff; font-size:14px; text-shadow:0 0 2px #1963c2;}
.wysn_topsearch .hotlink a {color:#fff; margin:0 5px;}
.wysn_topsearch .hotlink a:hover {color:#1963c2; text-shadow:none;}

.ellipsis {overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}

.nav{
    clear: both;
    position: relative;
    width: 1190px;
    margin: 0 auto;
}

.nav ul{
    background: #fff;
    height: 40px;
    position: relative;
    list-style: none;
    padding:0;
}

.nav ul li{
    position: relative;
    float: left;
    line-height: 38px;
    font-size: 14px;
    width:85px;
}

.nav ul li.cur{
	border-bottom: 3px solid #6293f5;
    color: #6293f5;
}
.nav ul li a{
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color:#777;
}
.nav ul li a:hover{
	color: #6293f5!important;
}

.nav li:hover>a {color:#6293f5;}
.nav .navsed {position:absolute; top:30px; left:0; background:#fff; width:109px; border:1px solid #e7e7e9;display: none;z-index:9999;}
.nav .navsed a {font-size:12px!important; font-weight:normal!important; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; line-height:36px; display:block; background:#fff; padding:0 10px;}
.nav .navsed a:hover {height:36px; border-bottom:0 none; color:#6293f5; background:#f7f7f9;}

/*banner*/
.wysn_banner {height:382px; width:658px; overflow:hidden; position:relative; -webkit-box-shadow:0 2px 3px rgba(0,0,0,0.12); -moz-box-shadow:0 2px 3px rgba(0,0,0,0.12); box-shadow:0 2px 3px rgba(0,0,0,0.12);}
.wysn_banner #slides li {height:inherit; width:inherit; float:left;}
.wysn_banner #slides li a {display:block; height:inherit; width:inherit;}
.wysn_banner .flip {position:absolute; left:315px; z-index:999; bottom:40px;}/*flip*/
.wysn_banner .flip li {float:left; width:12px; height:12px; margin-right:10px; border-radius:50%; background:#fff; box-shadow:0 0 1px #777; cursor:pointer; text-indent:-999px;}
.wysn_banner .flip li.on {background:#7fa7f6;} 
.wysn_banner .flip li:hover {background:#7fa7f6;}


.content1{
	width: 1190px;
	height: 390px;
    margin: 0 auto;
    margin-top: 10px;
}
.content1 .left{
	float: left;
	width: 658px;
	height: 380px;
}

.content1 .right{
	float: left;
	padding-left: 10px;
	width: 522px;
	height: 383px;
	text-align: center;
	margin: 0 auto;
	background: #fff;
}

.content1 .nn{
	width: 522px;
	height: 185px;
	text-align: center;
}

.content1 .right .notice{
	padding: 0;
	background: #fff;
    height: 30px;
    z-index: 999;
    list-style: none;
    border-bottom: 1px solid #ddd;
}

.content1 .right .notice li{
	position: relative;
    float: left;
    margin-right: 25px;
    text-align: center;
    line-height: 28px;
    font-size: 14px;
    font-weight: bold;
}

.content1 .right .notice .cur{
	border-bottom: 3px solid #6293f5;
    color: #6293f5;
}

.content1 .right .notices ul{
	padding: 0;
	background: #fff;
	height: 30px;
	width: 522px;
    list-style: none;
}

.content1 .right .notices ul li{
	float: left;
    line-height: 24px;
    font-size: 14px;
}
.content1 .right .notices .left1{
	text-align: left;
	float: left;
	width: 390px;
	font-size: 14px;
    white-space: nowrap;
}

.content1 .right .notices .left1:HOVER{
	color: #6293f5;
	cursor: pointer;
}
.content1 .right .notices .right1{
	text-align: right;
	float: right;
    width: 122px;
    color: #999;
}

.content1 .right .count{
	height: 200px;
	text-align: center;
	margin: 0 auto;
}

.content1 .right .count .title{
	height: 30px;
	line-height: 30px;
	font-size: 15px;
	font-weight: bold;
	text-align: left;
}

.content1 .right .count .content{
	height: 170px;
	text-align: center;
	margin: 0 auto;
}

.content1 .right .count .content .cc{
	float: left;
	width: 123px;
	height: 75px;
	border: 1px solid #EEEEEE;
}

.content1 .right .count .content .cc1{
	margin-bottom: 8px;
	border-top: 3px solid #4A7AF5;
}
.content1 .right .count .content .cc2{
	margin-bottom: 8px;
	margin-left:5px;
	border-top: 3px solid #5FD34B;
}
.content1 .right .count .content .cc3{
	margin-bottom: 8px;
	margin-left:5px;
	border-top: 3px solid #ECC13B;
}
.content1 .right .count .content .cc4{
	margin-bottom: 8px;
	margin-left:5px;
	border-top: 3px solid #EC813B;
}
.content1 .right .count .content .cc5{
	border-top: 3px solid #F54A4A;
}
.content1 .right .count .content .cc6{
	margin-left:5px;
	border-top: 3px solid #4AF5C5;
}
.content1 .right .count .content .cc7{
	margin-left:5px;
	border-top: 3px solid #543AF8;
}
.content1 .right .count .content .cc8{
	margin-left:5px;
	border-top: 3px solid #78C3FF;
}

.content1 .right .count .content .cc div{
	padding:7px 0 0 10px;
	text-align: left;
}

.content1 .right .count .content .cc img{
	vertical-align: middle;
}
.content1 .right .count .content .cc label{
	font-weight: bold;
	font-size: 15px;
	vertical-align: middle;
}

.content1 .right .count .content .cc span{
	font-weight: bold;
    color: #f86;
}


.content2{
	width: 1190px;
	height: 140px;
    margin: 0 auto;
}

.content2 .dd{
	width:232px;
	float: left;
	height: 140px;
	border: 1px solid #EEEEEE;
	background: #fff;
}
.content2 .dd .part1{
	margin-top: 10px;
	color: #5788F3;
	font-weight: bold;
	font-size: 14px;
}
.content2 .dd .part2 div{
	margin-top: 5px;
	float: left;
	width:110px;
	height: 25px;
	line-height: 25px;
}
.content2 .dd .part2 div:HOVER{
	color: #6293f5;
	cursor: pointer;
}

.content3{
	width: 1190px;
    margin: 0 auto;
    margin-top: 10px;
    height: 540px;
}

.content3 .title{
	float: left;
	width: 590px;
	height: 270px;
	background: #fff;
	margin-bottom: 10px;
}
.content3 .title .tt{
	padding: 0;
	background: #fff;
    height: 30px;
    z-index: 999;
    list-style: none;
    border-bottom: 1px solid #EEEEEE;
}

.content3 .title .tt li{
	position: relative;
    float: left;
    text-align: center;
    line-height: 28px;
    font-size: 14px;
    font-weight: bold;
}

.icon{
	width: 15px;
	font-size: 24px;
	font-weight: 900;
	color: #1F96F3;
}

.content3 .title .cc{
	padding: 0;
	background: #fff;
    height: 30px;
    z-index: 999;
    list-style: none;
}

.content3 .title .cc li{
	height: 25px;
	line-height: 25px;
	padding-left: 15px;
}

.content3 .title .cc .left{
	text-align: left;
	float: left;
	width: 250px;
	font-size: 14px;
	color: #515151;
	letter-spacing: 0;
}
.content3 .title .cc .left:HOVER{
	color: #6293f5;
	cursor: pointer;
}
.content3 .title .cc .middle{
	float: left;
	height: 15px;
	padding-top: 3px;
}

.content3 .title .cc .middle span{
	color: #FFFFFF;
	letter-spacing: 0;
}

.content3 .title .cc .right{
	text-align: right;
	float: right;
}

.content3 .title .cc .right .r1{
	font-size: 14px;
	color: #515151;
	letter-spacing: 0;
	line-height: 25px;
	width:140px;
	text-align: left;
	height: 25px;
}
	
.content3 .title .cc .right .r2{
	font-size: 12px;
	color: #FF520B;
	letter-spacing: 0;
	line-height: 14px;
	width:100px;
	line-height: 25px;
	margin-right: 5px;
}

.content4{
	width: 1190px;
    margin: 0 auto;
    margin-top: 20px;
    height: 260px;
}

.content4 .title{
	width: 1190px;
}
.content4 .title ul{
	padding: 0;
	background: #fff;
    height: 30px;
    z-index: 999;
    list-style: none;
    border-bottom: 1px solid #ddd;
}

.content4 .title ul li{
	position: relative;
    float: left;
    text-align: center;
    line-height: 28px;
    font-size: 14px;
    font-weight: bold;
}

.content4 .title .jjhtml a{
	font-weight: normal;
	text-decoration: none;
	font-size: 14px;
	color: #515151;
	letter-spacing: 0;
	line-height: 16px;
}

.content4 .title .jjhtml a:hover{
	border: 1px solid #1F96F3;
	border-radius: 1px;
	color: #1F96F3;
	padding: 3px 5px 3px 5px;
}

.content4 .content{
	width: 1190px;
}

.content4 .content .sk div:hover{
	color: #6293f5;
	cursor: pointer;
}

.content4 .content table thead td{
	height: 30px;
	background: #1F96F3;
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 14px;
}

.bgffff td{
	background: #FFFFFF;
}
.bgF9F9 td{
	background: #F9F9F9;
}
.content4 .content table tbody td{
	height: 30px;
	font-size: 14px;
	color: #515151;
	letter-spacing: 0;
	line-height: 14px;
}

.content4 .content table tbody td div{
	font-size: 14px;
}

.content4 .content .intr{
	background: #fff;
}
.content4 .content .intr div{
	width: 12px;
	height: 12px;
	float: left;
	border-radius: 1px;
}
.content4 .content .intr .in0{
	width: 70px;
	height: 12px;
	font-size: 12px;
	color: #A9A9A9;
	letter-spacing: 0;
	line-height: 12px;
}
.content4 .content .intr .in1{background: #49E17E;}
.content4 .content .intr .in2{background: #1F96F3;}
.content4 .content .intr .in3{background: #F9342E;}
.content4 .content .intr .in4{background: #3E3E3E;}

.content5{
	width: 1190px;
	margin: 0 auto;
	height: 305px;
}

.content5 .left{
	float: left;
	width: 383px;
	height: 215px;
	background: #fff;
}

.content5 .left .title ul{
	padding: 0;
	background: #fff;
    height: 30px;
    z-index: 999;
    list-style: none;
    border-bottom: 1px solid #EEEEEE;
}

.content5 .left .title ul li{
	position: relative;
    float: left;
    text-align: center;
    line-height: 28px;
    font-size: 14px;
    font-weight: bold;
}

.content5 .left .cc ul{
	padding: 0;
	background: #fff;
    height: 30px;
    z-index: 999;
    list-style: none;
}

.content5 .left .cc ul li{
	height: 25px;
	text-align: left;
	font-size: 14px;
	color: #515151;
	letter-spacing: 0;
	line-height: 25px;
	padding-left: 15px;
}
.content5 .left .cc ul li a{
	text-decoration: none;
	color: #515151;
}
.content5 .left .cc ul li a:HOVER{
	color: #6293f5;
	cursor: pointer;
}

.content5 .middle{
	float: left;
	margin-left: 20px;
	width: 383px;
	height: 215px;
	background: #fff;
}

.content5 .middle .title ul{
	padding: 0;
	background: #fff;
    height: 30px;
    z-index: 999;
    list-style: none;
    border-bottom: 1px solid #EEEEEE;
}

.content5 .middle .title ul li{
	position: relative;
    float: left;
    text-align: center;
    line-height: 28px;
    font-size: 14px;
    font-weight: bold;
}


.content5 .middle .cc ul{
	padding: 0;
	background: #fff;
    height: 30px;
    z-index: 999;
    list-style: none;
}

.content5 .middle .cc ul li{
	height: 25px;
	text-align: left;
	font-size: 14px;
	color: #515151;
	letter-spacing: 0;
	line-height: 25px;
	padding-left: 15px;
}

.content5 .middle .cc ul li a{
	text-decoration: none;
	color: #515151;
}
.content5 .middle .cc ul li a:HOVER{
	color: #6293f5;
	cursor: pointer;
}

.content5 .right{
	float: left;
	margin-left: 20px;
	width: 383px;
	height: 215px;
	background: #fff;
}

.content5 .right .title ul{
	padding: 0;
	background: #fff;
    height: 30px;
    z-index: 999;
    list-style: none;
    border-bottom: 1px solid #EEEEEE;
}

.content5 .right .title ul li{
	position: relative;
    float: left;
    text-align: center;
    line-height: 28px;
    font-size: 14px;
    font-weight: bold;
}

.content5 .right .cc .all{
	float: left;
	width: 55px;
	padding-left: 20px;
	margin-top: 10px;
}

.content5 .right .cc .all .name{ 
	font-size: 12px;
}

.content5 .right .cc .all .outcircle{
	padding: 2px 0 0 2px;
	width: 50px;
	height: 50px; 
	border-radius: 50%; 
	line-height: 50px;
	text-align: center;
	vertical-align: middle;
}

.content5 .right .cc .all .outcircle:hover{
	cursor: pointer;
}
.content5 .right .cc .all .outcircle .incircle{
	width: 46px;
	height: 46px; 
	border-radius: 50%; 
	border: 1px solid #eee; 
	text-align: center;
	line-height: 44px;
	font-size: 25px;
	color: white;
}
.bd001{border: 1px solid #0C89F5;}
.bg001{background: #0C89F5;}
.bd002{border: 1px solid #F5A623;}
.bg002{background: #F5A623;}
.bd003{border: 1px solid #F8E71C;}
.bg003{background: #F8E71C;}
.bd004{border: 1px solid #8B572A;}
.bg004{background: #8B572A;}
.bd005{border: 1px solid #D0021B;}
.bg005{background: #D0021B;}
.bd006{border: 1px solid #9013FE;}
.bg006{background: #9013FE;}
.bd007{border: 1px solid #50E3C2;}
.bg007{background: #50E3C2;}
.bd008{border: 1px solid #7ED321;}
.bg008{background: #7ED321;}

.content7{
	width: 1190px;
	height: 135px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}


.content7 .title ul{
	padding: 0;
	background: #fff;
    height: 30px;
    z-index: 999;
    list-style: none;
    border-bottom: 1px solid #EEEEEE;
}

.content7 .title ul li{
	position: relative;
    float: left;
    width: 80px;
    text-align: center;
    line-height: 28px;
    font-size: 14px;
    font-weight: bold;
}

.content7 .title ul .cur{
	border-bottom: 3px solid #6293f5;
    color: #6293f5;
}

.footer{
	width: 100%;
	background: #555555;
	height: 240px;
	color: #FFFFFF;
}

.footer .part1{
	height: 200px;
	padding-left: 6%;
}
.footer .part1 .d1{
	padding-top: 20px;
	float: left;
	text-align: left;
	width: 400px;
}

.footer .part1 .d1 .d11{
	padding-top: 40px;
}

.footer .part1 .d1 .d12{
	height: 50px;
	line-height: 50px;
	
}
.footer .part1 .d1 .d12 a{
	color: #FFFFFF;
	text-decoration: none;
}
.footer .part1 .d1 .d12 a:hover{
	color: gray;
}
.footer .part1 .d2{
	float: left;
	padding-top: 20px;
	text-align: left;
	width: 350px;
}

.footer .part1 .d3{
	float: left;
	padding-top: 25px;
	width: 200px;
}

.footer .part1 .d3 .dc{
	height: 30px;
	line-height: 30px;
}

.footer .part2{
	border-top: 1px solid #9D9D9D;
	height: 40px;
	letter-spacing: 0;
	line-height: 40px;
	text-align: left;
	padding-left:6%;
}
