.baseMessage {
    Z-INDEX: 1000;
    POSITION: fixed;
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 15px;
    DISPLAY: none;
    HEIGHT: 53px;
    OVERFLOW: hidden;
    TOP: 35%;
    PADDING-TOP: 5px;
    LEFT: 50%
}

.baseMessage .icon_ok {
    WIDTH: 44px;
    DISPLAY: inline-block;
    BACKGROUND: url(../images/tip_layer.png) no-repeat -7px 0px;
    HEIGHT: 53px;
    VERTICAL-ALIGN: middle;
    _background: url(../images/tip_layer.gif) no-repeat -7px 0
}

.baseMessage .icon_warn {
    WIDTH: 44px;
    DISPLAY: inline-block;
    BACKGROUND: url(../images/tip_layer.png) no-repeat -7px -54px;
    HEIGHT: 53px;
    VERTICAL-ALIGN: middle;
    _background: url(../images/tip_layer.gif) no-repeat -7px -54px
}

.baseMessage .icon_error {
    WIDTH: 44px;
    DISPLAY: inline-block;
    BACKGROUND: url(../images/tip_layer.png) no-repeat -7px -108px;
    HEIGHT: 53px;
    VERTICAL-ALIGN: middle;
    _background: url(../images/tip_layer.gif) no-repeat -7px -108px
}

.baseMessage .icon_txt {
    MIN-WIDTH: 50px;
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 53px;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 10px;
    DISPLAY: inline-block;
    BACKGROUND: url(../images/tip_layer.png) 0px -161px;
    HEIGHT: 53px;
    COLOR: #606060;
    FONT-SIZE: 14px;
    VERTICAL-ALIGN: middle;
    FONT-WEIGHT: bold;
    PADDING-TOP: 0px;
    _background: url(../images/tip_layer.gif) 0 -161px
}

.baseMessage .icon_r {
    WIDTH: 6px;
    DISPLAY: inline-block;
    BACKGROUND: url(../images/tip_layer.png) no-repeat 0px 0px;
    HEIGHT: 53px;
    VERTICAL-ALIGN: middle;
    _background: url(../images/tip_layer.gif) no-repeat 0 0
}

.upIcon {
    WIDTH: 16px;
    DISPLAY: inline-block;
    BACKGROUND: url(../images/up.gif) no-repeat;
    HEIGHT: 16px
}

.downIcon {
    WIDTH: 16px;
    DISPLAY: inline-block;
    BACKGROUND: url(../images/down.gif) no-repeat;
    HEIGHT: 16px
}

.deleteIcon {
    WIDTH: 16px;
    DISPLAY: inline-block;
    BACKGROUND: url(../images/delete.gif) no-repeat;
    HEIGHT: 16px
}
