.home_flash {
    PADDING-BOTTOM: 4px;
    PADDING-LEFT: 4px;
    WIDTH: 300px;
    PADDING-RIGHT: 4px;
    OVERFLOW: hidden;
    PADDING-TOP: 4px
}

#flash {
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    HEIGHT: 300px;
    LIST-STYLE-IMAGE: none;
    PADDING-TOP: 0px
}

#flash LI .title {
    TEXT-ALIGN: center;
    MARGIN: 22px 0px 10px;
    FONT-SIZE: 14px;
    FONT-WEIGHT: bold
}

#flash LI .intro {
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 22px;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 10px;
    COLOR: #999;
    WORD-BREAK: break-all;
    PADDING-TOP: 0px
}

#flash LI .pic {
    POSITION: relative;
    MARGIN: 0px auto;
    WIDTH: 300px;
    HEIGHT: 300px;
    OVERFLOW: hidden
}

#flash LI .pic IMG {
    WIDTH: 300px;
    DISPLAY: block;
    HEIGHT: 210px
}

.slidy-menu {
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 14px auto 15px;
    PADDING-LEFT: 0px;
    WIDTH: 120px;
    PADDING-RIGHT: 0px;
    HEIGHT: 25px;
    LIST-STYLE-IMAGE: none;
    PADDING-TOP: 0px
}

.slidy-menu LI {
    TEXT-ALIGN: center;
    WIDTH: 22px;
    BACKGROUND: url(../images/bullets.jpg) no-repeat 0px 0px;
    FLOAT: left;
    VERTICAL-ALIGN: middle
}

.slidy-menu LI A {
    DISPLAY: block;
    BACKGROUND: url(../images/bullets.jpg) no-repeat 0px 0px;
    HEIGHT: 20px;
    CURSOR: pointer;
    TEXT-DECORATION: none
}

.slidy-menu LI.slidy-link-selected A {
    BACKGROUND: url(../images/bullets.jpg) no-repeat 0px -23px
}

#topnew {
    PADDING-BOTTOM: 18px;
    MARGIN: 0px 10px;
    PADDING-LEFT: 10px;
    WIDTH: 328px;
    PADDING-RIGHT: 10px;
    PADDING-TOP: 12px
}

#topnew .title {
    TEXT-ALIGN: center;
    MARGIN: 13px 0px;
    FONT-SIZE: 14px;
    FONT-WEIGHT: bold
}

#topnew .intro {
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 20px;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 10px;
    COLOR: #999;
    WORD-BREAK: break-all;
    PADDING-TOP: 0px
}

#tophot {
    WIDTH: 298px
}

#topphoto {
    WIDTH: 958px
}

#topphoto .ileft {
    TEXT-ALIGN: right;
    WIDTH: 40px;
    FLOAT: left;
    OVERFLOW: hidden
}

#topphoto .ilist {
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 14px;
    WIDTH: 850px;
    PADDING-RIGHT: 14px;
    FLOAT: left;
    OVERFLOW: hidden;
    PADDING-TOP: 0px
}

#topphoto .iright {
    TEXT-ALIGN: left;
    WIDTH: 40px;
    FLOAT: left;
    OVERFLOW: hidden
}

#topphoto .ileft IMG {
    MARGIN-TOP: 50px;
    CURSOR: pointer
}

#topphoto .iright IMG {
    MARGIN-TOP: 50px;
    CURSOR: pointer
}

#topphoto .ilist UL {
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 10px 0px 24px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    HEIGHT: 136px;
    OVERFLOW: hidden;
    LIST-STYLE-IMAGE: none;
    PADDING-TOP: 0px
}

#topphoto .ilist UL LI {
    TEXT-ALIGN: center;
    MARGIN: 0px 10px;
    WIDTH: 150px;
    FLOAT: left;
    _margin: 0 9px
}

#topphoto .ilist UL LI IMG {
    BORDER-BOTTOM: #ddd 1px solid;
    BORDER-LEFT: #ddd 1px solid;
    PADDING-BOTTOM: 2px;
    MARGIN: 0px;
    PADDING-LEFT: 2px;
    WIDTH: 140px;
    PADDING-RIGHT: 2px;
    DISPLAY: block;
    HEIGHT: 100px;
    BORDER-TOP: #ddd 1px solid;
    BORDER-RIGHT: #ddd 1px solid;
    PADDING-TOP: 2px
}

#topphoto .ilist UL LI SPAN {
    LINE-HEIGHT: 30px;
    WIDTH: 146px;
    DISPLAY: block;
    BACKGROUND: #f3f3f3;
    HEIGHT: 30px
}

.comment {
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 15px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    LIST-STYLE-IMAGE: none;
    PADDING-TOP: 0px
}

.comment LI {
    LINE-HEIGHT: 24px;
    MARGIN: 0px 0px 10px;
    DISPLAY: block;
    COLOR: #666;
    CLEAR: both;
    FONT-SIZE: 14px;
    OVERFLOW: hidden
}

.comment LI IMG {
    MARGIN: 0px 10px 0px 0px;
    FLOAT: left
}

.comment LI SPAN {
    COLOR: #1a5eb6
}

.vote {
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 15px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    LIST-STYLE-IMAGE: none;
    PADDING-TOP: 0px
}

.vote LI {
    LINE-HEIGHT: 30px;
    PADDING-LEFT: 14px;
    HEIGHT: 30px
}

.vote .title {
    FONT-SIZE: 14px;
    FONT-WEIGHT: bold
}

.vote .bnt {
    PADDING-LEFT: 20px
}

.vote .bnt IMG {
    VERTICAL-ALIGN: middle
}

.toptag {
    PADDING-BOTTOM: 0px;
    MARGIN: 10px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    OVERFLOW: hidden;
    PADDING-TOP: 0px
}

.toptag A {
    PADDING-BOTTOM: 5px;
    MARGIN: 0px 5px 5px 0px;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 10px;
    DISPLAY: block;
    BACKGROUND: #1985da;
    FLOAT: left;
    COLOR: #fff;
    PADDING-TOP: 5px
}

.toptag A:hover {
    BACKGROUND: #f60;
    COLOR: #fff
}

.block {
    MARGIN: 10px 10px 0px 0px;
    MIN-HEIGHT: 344px;
    WIDTH: 328px;
    FLOAT: left;
    OVERFLOW: hidden
}

.toppic {
    LINE-HEIGHT: 22px;
    MARGIN: 0px 10px;
    COLOR: #999;
    OVERFLOW: hidden;
    WORD-BREAK: break-all;
    PADDING-TOP: 10px
}

.toppic IMG {
    BORDER-BOTTOM: #ddd 1px solid;
    BORDER-LEFT: #ddd 1px solid;
    PADDING-BOTTOM: 2px;
    MARGIN: 0px 10px 0px 0px;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 2px;
    DISPLAY: block;
    FLOAT: left;
    BORDER-TOP: #ddd 1px solid;
    BORDER-RIGHT: #ddd 1px solid;
    PADDING-TOP: 2px
}

.toppic A {
    LINE-HEIGHT: 30px;
    DISPLAY: block;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold
}

.topnew {
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 10px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    CLEAR: both;
    LIST-STYLE-IMAGE: none;
    PADDING-TOP: 0px
}

.topnew LI {
    LINE-HEIGHT: 25px;
    FONT-FAMILY: ����;
    HEIGHT: 25px
}

.topnew LI SPAN {
    FLOAT: right;
    COLOR: #999
}

.topnew LI A {
    FONT-FAMILY: verdana
}

.link {
    MARGIN: 10px;
    OVERFLOW: hidden
}

.link UL {
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    LIST-STYLE-IMAGE: none;
    PADDING-TOP: 0px
}

.link UL LI {
    LINE-HEIGHT: 25px;
    WIDTH: 10%;
    FLOAT: left;
    HEIGHT: 25px;
    OVERFLOW: hidden
}
