@charset "UTF-8";

/**
 *
 * @authors Your Name (you@example.org)
 * @date    2016-10-27 10:04:32
 * @version $Id$
 */
.m_img img {
    width: 160px;
    height: 160px;
}
.t-red {
    color:#e6232b;
}
*{margin:0;padding:0;list-style:none;border:0;}
html{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
*,*:before,*:after{box-sizing:inherit;}
body{background:#fff;font:normal 12px/22px "Microsoft YaHei",Arial,Helvetica,sans-serif;color:#666;min-width:1220px;}
input,select,textarea{vertical-align:middle;}
img.icon{vertical-align:middle;}
a{text-decoration:none;color:#666;}
a:hover,a.current{color:#005bac;}
.eng{font-family:Arial;}
.sim{font-family:"Simsun";}
.tme{font-family:Times;font-size:24px;}
.mr_none{margin-right:0px;border-right:0;}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix{zoom:1;}
.fl{float:left;}
.fr{float:right;}
.ti2em{text-indent:2em;}
p.p80{height:70px;clear:both;}
p.p50{height:50px;clear:both;}
p.p40{height:40px;clear:both;}
p.p30{height:30px;clear:both;}
p.p20{height:20px;clear:both;}
p.p10{height:10px;clear:both;}
.w980{width:980px;margin:0 auto;position:relative;}
.w1000{width:1000px;margin:0 auto;position:relative;}
.w1111{width:1111px;margin:0 auto;position:relative;}
.w1200{width:1200px;margin:0 auto;position:relative;}
.w1220{width:1220px;margin:0 auto;position:relative;}
.line-s{height:0px;width:100%;border-bottom:1px solid #dedede;}
.line-d{height:0px;width:100%;border-bottom:1px dotted #dedede;}
.m100{margin:10px 0;}
.txc{text-align:center;}
.txl{text-align:left;}
.txr{text-align:right;}
.c666{color:#666;}
.lh32{line-height:32px;}
table.table{width:100%;border-collapse:collapse;border:1px solid #e4e4e4;}
table.table th{border:1px solid #e4e4e4;}
table.table td{border:1px solid #e4e4e4;text-align:center;}
.fz13{font-size:13px;}
.fz14{font-size:14px;}
.fz15{font-size:15px;}
.fz16{font-size:16px;}
.fz17{font-size:17px;}
.fz18{font-size:18px;}
.fz20{font-size:20px;}
.fz22{font-size:22px;}
.fz24{font-size:24px;}
.fz26{font-size:26px;}
.fz28{font-size:28px;}
.fz30{font-size:30px;}
.fz36{font-size:36px;}
.fz40{font-size:40px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb40{margin-bottom:40px;}
.mb50{margin-bottom:50px;}
.mb60{margin-bottom:60px;}
.mb70{margin-bottom:70px;}
.mb80{margin-bottom:80px;}
.mb90{margin-bottom:90px;}
.mt50{margin-top:50px;}
.mt40{margin-top:40px;}
.mt30{margin-top:30px;}
.mt20{margin-top:20px;}
.mt10{margin-top:10px;}
.pt80{padding-top:80px;}
.pt60{padding-top:60px;}
.pt50{padding-top:50px;}
.pt40{padding-top:40px;}
.pt30{padding-top:30px;}
.pt20{padding-top:20px;}
.pb10{padding-bottom:10px;}
.pb20{padding-bottom:20px;}
.pb30{padding-bottom:30px;}
.pb40{padding-bottom:40px;}
.pb60{padding-bottom:60px;}
.pb80{padding-bottom:80px;}
.p200{padding: 20px 0;}
.p100{padding: 10px 0;}
.mr5{margin-right:5px;}
.mr15{margin-right:15px;}
.icon{display:inline-block;vertical-align:middle;}
.icon img{display:inline-block;vertical-align:middle;}
.lh26{line-height:26px;}
.lh28{line-height:28px;}
.bgfff{background:#fff}
.b{font-weight:bold;}
.eng{font-family:arial}
.m200{margin: 20px 0;}
.m300{margin: 30px 0;}
.m400{margin: 40px 0;}
.m500{margin: 50px 0;}
.m600{margin: 60px 0;}
.m800{margin: 80px 0;}
.p60{padding: 60px;}
.clr{color: #005bac}
.btn{display: inline-block;background: #005bac; color: #fff; font-size: 15px; text-align: center; padding: 10px 15px; line-height: 22px;}
.btn:hover{color: #fff}

input, select, textarea { vertical-align: middle; outline:none;font-family:"Microsoft YaHei";}
textarea{resize:none}

.c333{color: #333}
.c666{color: #666}
.c999{color: #999}

.bgf1 { background: #f1f1f1; }
.mt15 { margin-top: 15px; }
.ml5 { margin-left: 5px; }
.ml20 { margin-left: 20px; }
.ml10 { margin-left: 10px; }
.mt40 { margin-top: 40px; }
.t-red { color: #e6212a; }
.t-yellow { color: #fa9800; }
.t-blue { color: #005bac; }
.ft16 { font-size: 16px; }
.t-right { text-align: right; }

.content.bgf1 {
    min-width: 1220px;
}


.ccc img {
    max-width:100%;
    height:auto !important;
}
.ccc td{border:solid #ccc; border-width:0px 1px 1px 0px; padding-left:10px;}
.ccc table{border:solid #ccc; border-width:1px 0px 0px 1px;}

.l-btn {
    cursor: pointer;
}
.member-sidebar .item ul li a.on {
    color: #fa9800;
}
