.m_img img {
    width: 160px;
    height: 160px;
}

.t-red {
    color: rgb(230, 35, 43);
}

* {
    list-style: none;
    margin: 0px;
    padding: 0px;
    border: 0px currentColor;
    border-image: none;
}

html {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

*::before {
    box-sizing: inherit;
}

*::after {
    box-sizing: inherit;
}

body {
    background: rgb(255, 255, 255);
    font: 12px/22px "Microsoft YaHei", Arial, Helvetica, sans-serif;
    color: rgb(102, 102, 102);
    min-width: 1220px;
    font-size-adjust: none;
    font-stretch: normal;
}

input {
    vertical-align: middle;
}

select {
    vertical-align: middle;
}

textarea {
    vertical-align: middle;
}

img.icon {
    vertical-align: middle;
}

a {
    color: rgb(102, 102, 102);
    text-decoration: none;
}

a:hover {
    color: rgb(0, 91, 172);
}

a.current {
    color: rgb(0, 91, 172);
}

.eng {
    font-family: Arial;
}

.sim {
    font-family: "Simsun";
}

.tme {
    font-family: Times;
    font-size: 24px;
}

.mr_none {
    margin-right: 0px;
    border-right-color: currentColor;
    border-right-width: 0px;
    border-right-style: none;
}

.clearfix::after {
    height: 0px;
    clear: both;
    font-size: 0px;
    display: block;
    visibility: hidden;
    content: " ";
}

.clearfix {
    -ms-zoom: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.ti2em {
    text-indent: 2em;
}

p.p80 {
    height: 70px;
    clear: both;
}

p.p50 {
    height: 50px;
    clear: both;
}

p.p40 {
    height: 40px;
    clear: both;
}

p.p30 {
    height: 30px;
    clear: both;
}

p.p20 {
    height: 20px;
    clear: both;
}

p.p10 {
    height: 10px;
    clear: both;
}

.w980 {
    margin: 0px auto;
    width: 980px;
    position: relative;
}

.w1000 {
    margin: 0px auto;
    width: 1000px;
    position: relative;
}

.w1111 {
    margin: 0px auto;
    width: 1111px;
    position: relative;
}

.w1200 {
    margin: 0px auto;
    width: 1200px;
    position: relative;
}

.w1220 {
    margin: 0px auto;
    width: 1220px;
    position: relative;
}

.line-s {
    width: 100%;
    height: 0px;
    border-bottom-color: rgb(222, 222, 222);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.line-d {
    width: 100%;
    height: 0px;
    border-bottom-color: rgb(222, 222, 222);
    border-bottom-width: 1px;
    border-bottom-style: dotted;
}

.m100 {
    margin: 10px 0px;
}

.txc {
    text-align: center;
}

.txl {
    text-align: left;
}

.txr {
    text-align: right;
}

.c666 {
    color: rgb(102, 102, 102);
}

.lh32 {
    line-height: 32px;
}

table.table {
    border: 1px solid rgb(228, 228, 228);
    border-image: none;
    width: 100%;
    border-collapse: collapse;
}

table.table th {
    border: 1px solid rgb(228, 228, 228);
    border-image: none;
}

table.table td {
    border: 1px solid rgb(228, 228, 228);
    border-image: none;
    text-align: center;
}

.fz13 {
    font-size: 13px;
}

.fz14 {
    font-size: 14px;
}

.fz15 {
    font-size: 15px;
}

.fz16 {
    font-size: 16px;
}

.fz17 {
    font-size: 17px;
}

.fz18 {
    font-size: 18px;
}

.fz20 {
    font-size: 20px;
}

.fz22 {
    font-size: 22px;
}

.fz24 {
    font-size: 24px;
}

.fz26 {
    font-size: 26px;
}

.fz28 {
    font-size: 28px;
}

.fz30 {
    font-size: 30px;
}

.fz36 {
    font-size: 36px;
}

.fz40 {
    font-size: 40px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb50 {
    margin-bottom: 50px;
}

.mb60 {
    margin-bottom: 60px;
}

.mb70 {
    margin-bottom: 70px;
}

.mb80 {
    margin-bottom: 80px;
}

.mb90 {
    margin-bottom: 90px;
}

.mt50 {
    margin-top: 50px;
}

.mt40 {
    margin-top: 40px;
}

.mt30 {
    margin-top: 30px;
}

.mt20 {
    margin-top: 20px;
}

.mt10 {
    margin-top: 10px;
}

.pt80 {
    padding-top: 80px;
}

.pt60 {
    padding-top: 60px;
}

.pt50 {
    padding-top: 50px;
}

.pt40 {
    padding-top: 40px;
}

.pt30 {
    padding-top: 30px;
}

.pt20 {
    padding-top: 20px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb30 {
    padding-bottom: 30px;
}

.pb40 {
    padding-bottom: 40px;
}

.pb60 {
    padding-bottom: 60px;
}

.pb80 {
    padding-bottom: 80px;
}

.p200 {
    padding: 20px 0px;
}

.p100 {
    padding: 10px 0px;
}

.mr5 {
    margin-right: 5px;
}

.mr15 {
    margin-right: 15px;
}

.icon {
    vertical-align: middle;
    display: inline-block;
}

.icon img {
    vertical-align: middle;
    display: inline-block;
}

.lh26 {
    line-height: 26px;
}

.lh28 {
    line-height: 28px;
}

.bgfff {
    background: rgb(255, 255, 255);
}

.b {
    font-weight: bold;
}

.eng {
    font-family: arial;
}

.m200 {
    margin: 20px 0px;
}

.m300 {
    margin: 30px 0px;
}

.m400 {
    margin: 40px 0px;
}

.m500 {
    margin: 50px 0px;
}

.m600 {
    margin: 60px 0px;
}

.m800 {
    margin: 80px 0px;
}

.p60 {
    padding: 60px;
}

.clr {
    color: rgb(0, 91, 172);
}

.btn {
    background: rgb(0, 91, 172);
    padding: 10px 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    line-height: 22px;
    font-size: 15px;
    display: inline-block;
}

.btn:hover {
    color: rgb(255, 255, 255);
}

input {
    font-family: "Microsoft YaHei";
    vertical-align: middle;
}

select {
    font-family: "Microsoft YaHei";
    vertical-align: middle;
}

textarea {
    font-family: "Microsoft YaHei";
    vertical-align: middle;
}

textarea {
    resize: none;
}

.c333 {
    color: rgb(51, 51, 51);
}

.c666 {
    color: rgb(102, 102, 102);
}

.c999 {
    color: rgb(153, 153, 153);
}

.bgf1 {
    background: rgb(241, 241, 241);
}

.mt15 {
    margin-top: 15px;
}

.ml5 {
    margin-left: 5px;
}

.ml20 {
    margin-left: 20px;
}

.ml10 {
    margin-left: 10px;
}

.mt40 {
    margin-top: 40px;
}

.t-red {
    color: rgb(230, 33, 42);
}

.t-yellow {
    color: rgb(250, 152, 0);
}

.t-blue {
    color: rgb(0, 91, 172);
}

.ft16 {
    font-size: 16px;
}

.t-right {
    text-align: right;
}

.bgf1.content {
    min-width: 1220px;
}

.ccc img {
    height: auto !important;
    max-width: 100%;
}

.ccc td {
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: none;
    padding-left: 10px;
}

.ccc table {
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: none;
}

.l-btn {
    cursor: pointer;
}

.member-sidebar .item ul li a.on {
    color: rgb(250, 152, 0);
}
