@charset "UTF-8";

/**
 *
 * @authors Your Name (you@example.org)
 * @date    2016-01-09 10:04:32
 * @version $Id$
 */

/*header*/
.header { width: 100%; z-index: 999; position: relative;min-width:1220px;}
.top { height: 30px; line-height: 30px; border-bottom: 1px solid #e7e7e7;background: #efefef;overflow: hidden;}
.top .icon{margin: 0 2px;}
.top-right a{margin-right: 15px;}


.ad-box{width: 1220px;height: 60px;display:none;}

.header-tool{width: 100%;}
.search-box{padding-top: 45px;width: 615px;*width: 650px;}
.search{}
.search-btn{display: inline-block; font-size: 16px; width: 65px;height: 40px; line-height: 40px;color: #fff;background: #005bac;text-align: center;}
.search-btn:hover{color: #fff}
.search-txt{width: 425px; height: 40px; line-height: 40px;padding-left: 10px; font-size: 14px;color: #999; border: 3px solid #005bac; *height: 34px; *line-height: 34px;}
.search-hot{margin-top: 10px;}
.search-hot a{margin: 0 4px;}
.search-hot .hot{color: #fa9800}
.search-hot .hot:hover{color: #fa9800}
.search-box .btn{width: 115px; height: 40px;line-height: 40px;padding: 0;margin-left: 10px;}

.tool-right{padding-top: 45px;}
.phone-box{padding-left: 40px; background: url(../images/phone.png) no-repeat left; color: #005bac;font-size: 17px;}
.phone-box .num{color: #e6212a;font-size: 21px;margin-top: 5px;}
.erweima-box{margin-top: -25px;margin-left: 10px;}


.nav-wrap{background: #005bac}
.nav{ padding:0 0px; height:40px; line-height:40px; position:relative; z-index:1;  }
.nav a{ color:#fff;  }
.nav .nLi{ float:left;  position:relative; display:inline;  }
.nav .nLi h3{ float:left;  }
.nav .nLi h3 a{ display:block; padding:0 19px; font-size:16px; font-weight: normal;}
.nav .sub{ display:none; width:200px; height: 400px; left:0; top:40px;  position:absolute; background:#d6f1fa; /* line-height:26px; padding:10px 0;*/ padding:20px 0;line-height: 60px; }
.nav .sub li{ zoom:1; text-align: center;}
/*.nav .sub a{ display:inline-block; width: 150px; height: 30px; line-height: 30px;  font-size: 14px; color: #333; padding-left: 35px; background-image: url(../images/i03.png); background-repeat: no-repeat;   background-position: 5px 3px; margin: 9px auto; border: 1px solid #005bac; border-radius: 10px; text-align: left;}
.nav .sub a:hover{ background-color:#005bac; color:#fff;  }*/
    .nav .sub a i {
        display: inline-block;
        width: 60px;
        height: 40px;
        background:url(../images/i_ztuo.png) no-repeat right center;
    }
.nav .sub .first a{ display:inline-block; width: 150px; height: 40px; line-height: 40px;  font-size: 18px; color: #fff; padding-left: 35px; background-image: url(../images/ii01_h.png); background-repeat: no-repeat;   background-position: 10px 10px; margin: 9px auto; /*border: 1px solid #005bac; border-radius: 10px;*/ text-align: left;}
.nav .sub .second a{ display:inline-block; width: 150px; height: 40px; line-height: 40px;  font-size: 18px; color: #fff; padding-left: 35px; background-image: url(../images/ii02_h.png); background-repeat: no-repeat;   background-position: 10px 10px; margin: 9px auto; /*border: 1px solid #005bac; border-radius: 10px;*/ text-align: left;}
.nav .sub .third a{ display:inline-block; width: 150px; height: 40px; line-height: 40px;  font-size: 18px; color: #fff; padding-left: 35px; background-image: url(../images/ii03_h.png); background-repeat: no-repeat;   background-position: 10px 10px; margin: 9px auto; /*border: 1px solid #005bac; border-radius: 10px;*/ text-align: left;}
.nav .sub .forth a{ display:inline-block; width: 150px; height: 40px; line-height: 40px;  font-size: 18px; color: #fff; padding-left: 35px; background-image: url(../images/ii04_h.png); background-repeat: no-repeat;   background-position: 10px 10px; margin: 9px auto; /*border: 1px solid #005bac; border-radius: 10px;*/ text-align: left;}
.nav .sub .fifth a{ display:inline-block; width: 150px; height: 40px; line-height: 40px;  font-size: 18px; color: #fff; padding-left: 35px; background-image: url(../images/ii05_h.png); background-repeat: no-repeat;   background-position: 10px 10px; margin: 9px auto; /*border: 1px solid #005bac; border-radius: 10px;*/ text-align: left;}
.nav .sub .sixth a{ display:inline-block; width: 150px; height: 40px; line-height: 40px;  font-size: 18px; color: #fff; padding-left: 35px; background-image: url(../images/ii06_h.png); background-repeat: no-repeat;   background-position: 10px 10px; margin: 9px auto; /*border: 1px solid #005bac; border-radius: 10px;*/ text-align: left;}
.nav .sub .seventh a{ display:inline-block; width: 150px; height: 40px; line-height: 40px;  font-size: 18px; color: #fff; padding-left: 35px; background-image: url(../images/ii07_h.png); background-repeat: no-repeat;   background-position: 10px 10px; margin: 9px auto; /*border: 1px solid #005bac; border-radius: 10px;*/ text-align: left;}
.nav .sub .eighth a{background-color:#005bac; display:inline-block; width: 150px; height: 40px; line-height: 40px;  font-size: 18px; color: #fff; padding-left: 35px; background-image: url(../images/ii08.png); background-repeat: no-repeat;   background-position: 10px 4px; margin: 9px auto; border: 1px solid #005bac; border-radius: 10px; text-align: left;}
.nav .sub .first a:hover{ /*background-color:#005bac;*/color:#fff; color:#fff; background-image: url(../images/ii01_h.png); background-repeat: no-repeat;  }
.nav .sub .second a:hover{/*background-color:#005bac;*/color:#fff; color:#fff; background-image: url(../images/ii02_h.png); background-repeat: no-repeat; }
.nav .sub .third a:hover{ /*background-color:#005bac;*/color:#fff; color:#fff; background-image: url(../images/ii03_h.png); background-repeat: no-repeat; }
.nav .sub .forth a:hover{/*background-color:#005bac;*/color:#fff; color:#fff; background-image: url(../images/ii04_h.png); background-repeat: no-repeat; }
.nav .sub .fifth a:hover{/*background-color:#005bac;*/color:#fff; color:#fff; background-image: url(../images/ii05_h.png); background-repeat: no-repeat; }
.nav .sub .sixth a:hover{ /*background-color:#005bac;*/color:#fff; color:#fff; background-image: url(../images/ii06_h.png); background-repeat: no-repeat; }
.nav .sub .seventh a:hover{/*background-color:#005bac;*/color:#fff; color:#fff; background-image: url(../images/ii07_h.png); background-repeat: no-repeat; }
.nav .sub .eighth a:hover{/*background-color:#005bac;*/color:#fff; color:#fff; background-image: url(../images/ii08_h.png); background-repeat: no-repeat; }

.nav .cur h3 a{ background:#fa9800; color:#fff;   }
.nav li:hover h3 a{ background:#fa9800; color:#fff;   }




/*footer*/
.footer{width:100%;min-width:1220px;}
.servicetag{padding: 30px 0;}
.servicetag ul li{ float: left; width: 25%; }
.servicetag ul li a{text-align: center; display: block; color: #666; font-size: 0; margin: 0 auto; }
.servicetag ul li a img{display: inline-block; vertical-align: middle;}
.servicetag ul li a span{font-size: 16px; vertical-align: middle; margin-left: 14px;}
.bottom{background: #494e52;padding-top: 26px;}
.bottom .help {
  /*border-bottom: 1px solid #65696c; padding-bottom: 30px;*/
}
.bottom .help .mod{ width: 15%;float: left; padding-right: 20px;}

.bottom .help .mod h4{color: #fff; font-size: 18px; font-weight: normal; margin-bottom: 10px;}
.bottom .help .mod:last-child{ text-align: right; }
.bottom .help .mod ul li {float: left; width: 100%;        list-style-type: square;
        color: #bbb;margin-left: 15px; }
.bottom .help .mod ul li a{color: #bbb; font-size: 14px; line-height: 25px;}
.bottom .help .mod img{display: inline-block;vertical-align: middle; margin-right: 5px;}
.bottom .help .mod.mod-contact .telphone{ font-size: 22px; color: #fa9800;}
.bottom .help .mod.mod-contact div{color: #bbb; font-size: 13px; margin: 15px 0;}
.bottom .help .mod.mod-contact a{width: 154px; height: 30px; background: #005bac; color: #fff;font-size: 14px; text-align: center; display: inline-block; line-height: 30px;}
 .ftlink{ text-align: center; padding: 10px 0; }
  .ftlink ul{margin: 20px auto 10px auto;}
.ftlink li {display: inline-block; text-align: center;}
 .ftlink li.line{margin: 0 5px;}
 .ftlink ,.bottom  .ftlink li a{ font-size: 14px; color: #888;}
  .ftlink li, .ftlink p{}
.breadcrumb{
border-bottom: 1px solid #ddd;
color: #666;
}
.breadcrumb a{color: #666; line-height: 50px; margin-top: 10px;}
.m-footer .w1220{border-top: 2px solid #fa9800}

/*footer end*/


.page{clear:both;width:100%;text-align:center;margin-bottom:40px;}
.page ul{display:inline-block;}
.page ul li{float:left;margin-right:10px;padding:0px; }
.page ul li a{display:block;font-size: 14px;color:#666;padding:3px 11px; border: 1px solid #ccc; border-radius: 4px}
.page ul li a:hover,.page02 ul li a.current{color: #fff;background: #005bac;}


.slideBox { width: 100%; overflow: hidden; position: relative; text-align: center; height: 380px; }
.slideBox .hd { position: absolute; z-index: 999; overflow: hidden; bottom: 15px; left: 50%; margin-left: -55px; }
.slideBox .hd ul { overflow: hidden; zoom: 1; float: left; }
.slideBox .hd ul li { float: left; margin-right: 12px; width: 16px; height: 16px; text-align: center; background: rgba(0, 0, 0, 0.3); cursor: pointer; z-index: 999; border-radius: 50%; }
.slideBox .hd ul li.on { background: #fff; }
.slideBox .bd { position: relative; height: 100%; z-index: 0; width: 100%; margin: 0 auto; }
.slideBox .bd li { zoom: 1; vertical-align: middle; position: relative; width: 100%; height:380px; background-position: center top; background-repeat: no-repeat;  }
.slideBox .bd li a { display: inline-block; width: 100%; height: 100%;  background-position: center top; background-repeat: no-repeat;  }


.txt_left, td.txt_left, .account-list td.txt_left {
    text-align: left;
}
td.tt {
padding-left:20px;
color:#666;
font-weight:600;
}