@charset "UTF-8";

/**
 *
 * @authors Your Name (you@example.org)
 * @date    2016-10-27 10:04:32
 * @version $Id$
 */

/*发布需求*/
.demand-page{background: #f5f5f5}
.demandbox{background: #fff;border: 1px solid #ddd;}
.step { padding: 40px 0; }
.step .step-bar { background: #999; height: 2px; position: relative; top: 55px; }
.step .step-bar .step-bar-active { background: #005bac; height: 2px; }
.step ul { position: relative; }
.step ul li { float: left; width: 25%; text-align: center; color: #005bac; font-size: 16px; }
.step ul li span { height: 46px; width: 46px; border: 2px solid #999; display: block; border-radius: 100%; margin: 0 auto; background: #f5f5f5; margin-top: 10px; color: #999; font-size: 24px; line-height: 44px; }
.step ul li.step-current span { border: 2px solid #005bac; background: #005bac; color: #fff; }
.step ul li.step-active span { background: #f5f5f5 url(../images/right.png) no-repeat center center; border: 2px solid #005bac; }
.demandbox .tag { background: #999; color: #fff; height: 40px; line-height:.xqdt-info .left 40px; padding: 0 30px; }
.demandbox .demand-leftmain { float: left; width: 965px; /*height: 915px;*/ padding: 30px; border-right: 1px solid #ddd; }
.demandbox .demand-leftmain .demand-hd { font-size: 14px; color: #333; }
.demandbox .demand-leftmain .demand-bd { border: 1px solid #cfdfe7; background: #f3fbff; box-shadow: 0 0 3px rgba(0, 0, 0, 0.1); padding: 30px 40px; }
.demand-bd p { color: #666; line-height: 30px; }
.demand-bd p a { color: #005bac; }
.demand-bd p select { height: 30px; width: 80px; color: #666; border: 1px solid #ddd; }
.demand-bd .setprice { border: 1px solid #ddd; }
.demand-bd .setprice>div { background: #fff; padding: 10px 15px; }
.demand-bd .setprice>div:last-child { border-top: 1px solid #ddd; }
.demand-bd label { color: #fa9800; }
.demand-bd label input { margin-right: 10px; }
.demandbox .demand-leftmain .input-grop { border: 1px solid #ddd; width: 230px; }
.demandbox .demand-leftmain .input-grop span { background: #f3f3f3 no-repeat center center; height: 30px; width: 30px; display: inline-block; vertical-align: middle; }
.demandbox .demand-leftmain .input-grop span.price { background-image: url(../images/price.png); }
.demandbox .demand-leftmain .input-grop span.time { background-image: url(../images/time.png); }
.demandbox .demand-leftmain .input-grop input[type=text] { height: 30px; border-left: 1px solid #ddd; width: 197px; display: inline-block; vertical-align: middle; text-indent: 10px; }
.demand-bd .ystep .ystep-bar { height: 2px; background: #fa9800; position: relative; top: 13px; margin-left: 100px; margin-right: 100px; }
.demand-bd .ystep ul { text-align: center; }
.demand-bd .ystep ul li { display: inline-block; width: 100px; text-align: center; color: #999; }
.demand-bd .ystep ul li span { border-radius: 100%; height: 14px; width: 14px; background: #fa9800; display: block; margin: 5px auto; }
.demand-ft .tip { margin-top: -10px; margin-left: 40px; background: url(../images/tip.png) no-repeat center center; height: 38px; width: 445px; text-align: center; line-height: 38px; }
.demand-ft .tip span { color: #0b73bb; }
.demand-ft a { color: #0b73bb; margin-top: 45px; }
.demand-ft a.nextbtn { background: #fa9800; color: #fff; display: inline-block; height: 32px; width: 120px; border-radius: 5px; line-height: 32px; text-align: center; font-size: 14px; margin-left: 25px; }
.demandbox .demand-rightside { float: right; width: 250px; height: 915px; padding: 30px; }
.demand-rightside .online { display: block; width: 130px; height: 36px; text-align: center; border: 1px solid #005bac; font-size: 14px; color: #005bac; border-radius: 5px; line-height: 36px; margin: 30px 0; }
.demand-rightside>div { border-top: 1px solid #ddd; padding-top: 30px; }

.fbxq-box01{}
.fbxq-box01 .title{font-size: 14px; color: #fa9800;}
.fbxq-box01 .title .icon{margin-right: 5px;}
.fbxq-box01 li{border-bottom: 1px dotted #ddd;padding-bottom: 25px; margin-bottom: 25px;}
.fbxq-box01 li .item {margin: 10px 0;}
.fbxq-box01 li .item a{margin: 0 10px; padding:2px 5px;font-size: 14px;color: #666}
.fbxq-box01 li .item a:hover{background: #fa9800;color: #fff; padding:2px 5px;}
.i-input{width: 250px; height: 30px; line-height: 30px;border: 1px solid #ddd;padding-left: 10px; color: #999; font-size: 14px;}
.textarea{border: 1px solid #ddd;width: 600px; height: 230px;}

.fbxq-box02{}
.fbxq-box02 .btn{color: #005bac;font-size: 14px; padding: 5px 10px; border-radius: 6px; background: #fff}
.fbxq-box02 .btn:hover{color: #fff;font-size: 14px; padding: 5px 10px; border-radius: 6px; background: #fa9800}

.fbxq-box04 {line-height: 32px}
.fbxq-box04 .num{color: #fa9800;font-size: 30px;}
.fbxq-box04 .btn{color: #005bac;font-size: 14px; padding: 5px 10px; border-radius: 6px; background: #fff}
.fbxq-box04 .btn:hover{color: #fff;font-size: 14px; padding: 5px 10px; border-radius: 6px; background: #fa9800}

/*发布需求 end*/


/******************************************科技金融******************************************/
.projectpart .leftside { width: 270px; height: 610px; color: #fff; text-align: center; font-size: 14px; float: left; }
.projectpart .leftside h4 { font-size: 44px; padding-top: 44px; }
.projectpart .leftside p { color: #fff; }
.projectpart .leftside ul li a { height: 40px; width: 130px; display: block; margin-bottom: 10px; color: #fff; border: 1px solid #fff; line-height: 40px; border-right: none; }
.projectpart.projectpart-jr .leftside ul li a { text-align: left; text-indent: 20px; position: relative; }
.projectpart.projectpart-jr .leftside ul li a.active, .projectpart.projectpart-jr .leftside ul li a:hover { color: #c861d5; background: #fff; }
.projectpart.projectpart-tz .leftside ul li a.active, .projectpart.projectpart-tz .leftside ul li a:hover { color: #29b6fb; background: #fff; }
.projectpart .leftside ul li a { text-align: center; }
.projectpart.projectpart-jr .leftside ul li a .tags { position: absolute; right: 12px; height: 22px; width: 22px; background: #f8f0f9; color:#FE9900; text-align: center; line-height: 22px; border-radius: 100%; top: 10px; text-indent: 0; }
.projectpart-jr .leftside { background: url(../images/jinrong.jpg); }
.projectpart-ly .leftside { background: url(../images/luyanbg.jpg); height: 520px; }
.projectpart-tz .leftside { background: url(../images/touzi.jpg); height: 610px; }
.projectpart .rightmain { float: left; width: 950px; }
.projectpart .rightmain ul li { float: left; width: 25%; padding-left: 10px; }
.projectpart .rightmain ul li a { display: block; width: 100%; font-size: 14px; background: #f5f5f5; min-height: 296px; }
.projectpart .rightmain ul li a>div { position: relative; }
.projectpart .rightmain ul li a div img { display: block; width: 100%; }
.projectpart .rightmain ul li a div .tip { position: absolute; bottom: 0; height: 36px; line-height: 36px; text-align: center; color: #fff; width: 100%; background: rgba(0, 0, 0, 0.6); }
.projectpart .rightmain ul li a div .tip.current { background: #fe9900; }
.projectpart .rightmain ul li a h4, .projectpart .rightmain ul li a p { color: #999; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 3px 10px; }
.projectpart .rightmain ul li a h4 { color: #005bac; }
.projectpart .rightmain ul li a.more { position: relative; }
.projectpart .rightmain ul li a.more img { height: 100%; }
.projectpart .rightmain ul li a.more .moreback { position: absolute; height: 100%; top: 0; left: 0; width: 100%; background: rgba(207, 96, 221, 0.8); color: #fff; text-align: center; font-size: 16px; }
.projectpart .rightmain ul li a.more .moreback span { display: block; border: 1px solid #fff; height: 57px; width: 57px; font-size: 30px; font-weight: bold; line-height: 50px; margin: 100px auto 30px; }
.projectpart-ly .rightmain ul li { width: 33.33%; min-height: 253px; }
.projectpart.projectpart-ly .rightmain ul li div .tip { background: #32adea; height: 27px; text-align: center; padding: 0 10px; position: absolute; right: 0; width: auto; top: 0; line-height: 27px; }
.projectpart.projectpart-ly .rightmain ul li a { min-height: 260px; }
.projectpart.projectpart-ly .rightmain ul li a.more { height: 253px; }
.projectpart.projectpart-ly .rightmain ul li a.more .moreback { background: rgba(213, 142, 51, 0.8) !important; }
.projectpart.projectpart-tz .rightmain ul li a.more, .projectpart.projectpart-tz .rightmain ul li a.more img { height: 296px; }
.projectpart.projectpart-tz .rightmain ul li a.more .moreback { background: rgba(41, 182, 251, 0.8) !important; }
.notice { background: #f8f8f8; height: 49px; line-height: 49px; font-size: 14px; color: #666; }
.notice a { color: #666; }
.notice .name { color: #333; font-size: 16px; }
.notice .zrbtn { background: #fa9800; border-radius: 20px; display: inline-block; height: 28px; width: 128px; line-height: 28px; color: #fff; text-align: center; margin-right: 40px; }
.notice img { vertical-align: middle; margin-right: 5px; }

/*科技金融-路演列表*/
.kjjr-page .screen .s-option{right: 20px;top: 20px;}
.kjjr-tab{width: 100%;  padding: 20px 100px;border-bottom: 1px solid #ddd}
.kjjr-tab .item{display: inline-block;font-size: 14px; color: #fff; text-align: center;background: #fa9800;border-radius: 10px;padding: 2px 10px;}
.ly-list{margin: 30px 0;}
.ly-list ul li{position: relative;float: left;width: 300px;background: #f5f5f5;margin-right: 5px;margin-bottom: 30px;}
.ly-list ul li .info{padding: 5px 10px;}
.ly-list ul li .title{color: #005bac}
.ly-list .tip{background: #32adea; height: 27px;text-align: center; padding: 0 10px; position: absolute;  right: 0;width: auto; top: 0; line-height: 27px; color: #fff}
.ly-list .tip a{color: #fff}
.ly-list .tip.current {  background: #fe9900;}

/*科技金融-资金方入住*/
.chose-boxes{width: 470px;}
.chose-boxes .chose-item{width: 110px; padding:5px 10px; float: left;}



/********************服务联盟******************/
.screen { position: relative; border: 1px solid #ddd; padding: 0 20px; font-size: 13px; margin-top: 25px; }
.screen .s-option { position: absolute; right: 5px; top: 5px; color: #fa9800; border: 1px dashed #fa9800; padding: 2px 10px; cursor: pointer; }
.screen .s-option i { display: inline-block; height: 10px; width: 10px; border-left: 1px solid #fa9800; border-top: 1px solid #fa9800; -webkit-transform: rotate(45deg); vertical-align: middle; margin-left: 10px; }
.screen .s-option.active i { margin-top: -5px; -webkit-transform: rotate(225deg); }
.screen dl { padding: 5px 0; }
.screen dl:not(:last-child) { border-bottom: 1px dashed #ddd; }
.screen dl dt { color: #333; font-weight: bold; float: left; width: 70px; text-align: center; }
.screen dl dd { margin-left: 10px; float: left; width: 1000px; overflow: hidden; /*height: auto;*/ -webkit-transition: all 0.3s; transition: all 0.3s;height:25px; }
.screen dl dd a { line-height: 24px; display: inline-block; vertical-align: middle; padding: 0 10px; margin: 0 10px; }
.screen dl dd a:hover, .screen dl dd a.active { background: #fa9800; color: #fff; }
.shop-list-change { margin-top: 25px; }
.shop-list-change a, .project-change a { display: block; border-top: 1px solid #ddd; border-left: 1px solid #ddd; height: 36px; float: left; font-weight: bold; color: #666; line-height: 36px; padding: 0 26px; background: #f3f3f3; }
.shop-list-change a:last-child, .project-change a:last-child { border-right: 1px solid #ddd; }
.shop-list-change a.active, .shop-list-change a:hover, .project-change a:hover, .project-change a.active { background: #fa9800; color: #fff; border-color: #fa9800; }
.shop-list-change a img, .project-change a img { display: inline-block; vertical-align: middle; margin-top: -3px; }
.grid { }
.grid .col-main { float: left; width: 980px; }
.grid .filterbar { height: 35px; background: #f4f4f4; line-height: 35px; border: 1px solid #ddd; border-top: 2px solid #fa9800; overflow:hidden; }
.grid .filterbar a { color: #666; display: inline-block; padding: 0 15px; }
.grid .filterbar .px a { border-right: 1px solid #ddd; height: 32px; }
/*.grid .filterbar .px a i { display: inline-block; vertical-align: middle; height: 10px; width: 10px; background: url(../images/droparrow.png) no-repeat center center; margin-top: -3px; margin-left: 5px; }*/
.grid .filterbar .px a.active i { display: inline-block; vertical-align: middle; height: 10px; width: 10px; background: url(../images/droparrow_on.png) no-repeat center center; margin-top: -3px; margin-left: 5px; }
/*.grid .filterbar .px a.up i { display: inline-block; vertical-align: middle; height: 10px; width: 10px; background: url(../images/droparrowup.png) no-repeat center center; margin-top: -3px; margin-left: 5px; }*/
.grid .filterbar .px a.active.up i { display: inline-block; vertical-align: middle; height: 10px; width: 10px; background: url(../images/droparrowup_on.png) no-repeat center center; margin-top: -3px; margin-left: 5px; }


.grid .filterbar a.active { background: #fff; color: #fa9800; }
.grid .filterbar .rz input { display: inline-block; vertical-align: middle; margin-top: -3px; }
.grid .filterbar input[type=text] { height: 26px; width: 50px; border: 1px solid #ddd; display: inline-block; vertical-align: middle; margin-top: -3px; text-align: center; }
.grid .filterbar .addr select { border-left: 1px solid #ddd; border-right: 1px solid #ddd; background: #fff; width: 90px; display: inline-block; vertical-align: top; height: 32px; text-align: center; color: #666; margin-left: 20px; }
.grid .filterbar .fy a { display: block; width: 25px; height: 24px; border: 1px solid #ddd; background: #f9f9f9; font-family: "宋体"; color: #ddd; line-height: 24px; float: left; margin-top: 5px; padding: 0; text-align: center; }
.grid .filterbar .fy a:last-child { border-left: none; }
.grid .col-main .shop-list .mod, .grid .col-sub .list .mod, .tjserver .servicelist .mod { float: left; width: 230px; border: 1px solid #ddd; margin-top: 20px; }
.grid .col-main .shop-list .mod .imgbox, .grid .col-sub .list .mod .imgbox, .tjserver .servicelist .mod .imgbox { height: 175px; display: table-cell; vertical-align: middle; text-align: center; width: 230px; border-bottom: 1px solid #ddd; padding: 10px; }
.grid .col-main .shop-list .mod .imgbox img, .grid .col-sub .list .mod .imgbox img, .tjserver .servicelist .mod .imgbox img { max-height: 100%; max-width: 100%; }
.grid .col-main .shop-list .mod:not(:nth-child(4n+4)) { margin-right: 20px; }
.grid .col-main .shop-list .mod .info, .grid .col-sub .list .mod .info, .tjserver .servicelist .mod .info { padding: 10px; color: #999; }
.grid .col-main .shop-list .mod .name, .grid .col-sub .list .mod .name, .tjserver .servicelist .mod .name { color: #005bac; font-size: 16px; display: inline-block; vertical-align: middle; }
.grid .col-main .shop-list .mod .info img, .grid .col-sub .list .mod .info img, .tjserver .servicelist .mod .info img { display: inline-block; vertical-align: middle; }
.grid .col-main .col-main-ft .searchbar { height: 30px; width: 158px; border: 1px solid #ddd; }
.grid .col-main .col-main-ft .searchbar input[type=text] { width: 136px; display: inline-block; vertical-align: middle; text-indent: 5px; }
.grid .col-main .col-main-ft .searchbar input[type=submit] { display: inline-block; vertical-align: middle; height: 30px; width: 20px; background: url(../images/search.png) no-repeat center center; border: none; cursor: pointer; }
.grid.grid-shop .col-sub { width: 220px; float: right; border-top: 2px solid #fa9800; }
.grid.grid-shop .col-sub>img { margin-top: 12px; display: block; }
.grid.grid-shop .col-sub .list .mod { background: #f4f4f4; width: 216px; position: relative; }
.grid.grid-shop .col-sub .list .mod .imgbox { width: 216px; background: #fff; height: 179px; }
.grid.grid-shop .col-sub .list .mod .tip { position: absolute; left: 0; top: 0; height: 87px; width: 94px; background: url(../images/tjtip.png) no-repeat left top; }

/**********************众包众筹页面************************/
.grid .zc-list .mod { float: left; width: 200px; margin-top: 30px; }
.grid .zc-list .mod:not(:nth-child(4n+4)) { margin-right: 20px; }
.grid .zc-list .mod a { display: block; position: relative; }
.grid .zc-list .mod a img { display: block; width: 100%; }
.grid .zc-list .mod a .tip { width: 100%; height: 80px; background: rgba(255, 255, 255, 0.8); text-align: center; color: #666; padding: 10px; }
.grid .zc-list .mod a .tip p, .grid .zc-list .mod a .tip h4 { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.grid .zc-list .mod a .tip h4 { font-size: 14px; color: #005bac; }
.picScroll { width: 1220px; overflow: hidden; position: relative; margin: 60px auto 0; }
.picScroll .hd { overflow: hidden; }
.picScroll .hd .prev, .picScroll .hd .next { display: block; width: 27px; height: 27px; float: right; overflow: hidden; cursor: pointer; position: absolute; right: 10px; top: 50%; margin-top: -18px; z-index: 999 }
.picScroll .hd .prev { right: auto; left: 0px; }
.picScroll .hd .prevStop { background-position: -60px 0; }
.picScroll .hd .nextStop { background-position: -60px -50px; }
.picScroll .bd { width: 1090px; margin: 0 auto; overflow: hidden; }
.picScroll .bd ul { overflow: hidden; zoom: 1; }
.picScroll .bd ul li { margin-left: 10px; padding: 10px; float: left; _display: inline; overflow: hidden; text-align: center; width: 190px; height: 239px; background: #f8f8f8; border-top: 2px solid #ff8b0c; }
.picScroll .bd ul li .pic { text-align: center; border: 1px solid #ddd; border-radius: 100%; overflow: hidden; padding: 5px; background: #fff; margin: 20px auto; width: 95px; }
.picScroll .bd ul li .pic img { width: 85px; height: 85px; display: block; }
.picScroll .bd ul li h4 { line-height: 24px; font-size: 16px; color: #333; }
.picScroll .bd ul li p { color: #999; }

/********************专利列表***************************/
.zltable { width: 100%; font-size: 13px; color: #999; }
.zltable tr td { padding: 15px 0; border-bottom: 1px dashed #ddd; }
.zltable .pic { border: 1px solid #ddd; height: 112px; width: 112px; margin-right: 18px; }
.zltable .info { width: 600px; }
.zltable .info p span { display: inline-block; width: 50%; text-overflow: ellipsis; white-space: nowrap; vertical-align: middle; }
.zltable .info p img { display: inline-block; vertical-align: middle; }
.zltable h4 { font-size: 16px; color: #005bac; margin-bottom: 10px; }
    .zltable h4 a {
        color: #005bac;
    }
.zltable tr td a.shop { display: block; width: 103px; height: 23px; border: 1px solid #ddd; font-size: 12px; color: #ff8a00; text-align: center; margin-bottom: 5px; }
.zltable tr td a img { vertical-align: middle; margin-top: -3px; margin-right: 10px; }

/*约谈项目*/
.zltable tr td a.addprojBtn { padding: 5px 15px; color: #fff; background: #e6212a; border-radius: 20px; height: 30px; width: 106px; text-align: center; line-height: 30px; border: none; }
.tjserver .servicelist .mod { width: 228px; }
.tjserver .servicelist .mod:not(:last-child) { margin-right: 20px; }
.tjserver .title { color: #333; font-size: 18px; border-bottom: 1px solid #ddd; padding-bottom: 15px; margin-top: 50px; }
.tjserver .title i { display: inline-block; height: 20px; width: 5px; background: #ff8b0c; vertical-align: middle; margin-right: 20px; }

/*需求大厅*/


/*项目投递*/
.project-change { border-bottom: 2px solid #ff8a00; }
.screen .project-change+.zrbtn { position: absolute; right: 120px; top: 15px; }
.screen .project-change~.s-option { right: 20px; top: 15px; }
.win { position: fixed; height: 100%; width: 100%; background: rgba(0, 0, 0, .5); top: 0; left: 0; z-index: 99999; display: none; }
.win .wincont { width: 687px; left: 50%; margin-left: -340px; position: absolute; background: #fff; top: 100px; }
.win .wincont .hd { background: #d24040; height: 42px; line-height: 42px; position: relative; color: #fff; font-size: 18px; padding: 0 20px; }
.win .wincont .hd a { display: block; position: absolute; right: 14px; height: 20px; width: 20px; border-radius: 100%; border: 1px solid #fff; color: #fff; top: 11px; line-height: 16px; text-align: center; }
.win .wincont .bd { padding: 34px 50px 0; }
.win .wincont .bd>img { display: block; margin: 0 auto; }
.win .wincont .bd .group { margin-bottom: 10px; }
.win .wincont .bd label { width: 100px; display: inline-block; text-align: right; line-height: 30px; vertical-align: top; }
.win .wincont .bd label  font { margin-right: 10px; color: #d91b1b; font-size: 15px; }
.win .wincont .bd input[type=text], .win .wincont .bd textarea { width: 320px; vertical-align: middle; line-height: 30px; border: 1px solid #ddd; border-radius: 5px; margin-left: 5px; }
.win .wincont .bd input[type=text] { text-indent: 10px; height: 30px; }
.win .wincont .bd textarea { height: 90px; }
.win .wincont .bd .group span.tag { color: #aaa; margin-left: 14px; }
.win .wincont .bd .group span.tag i { display: inline-block; font-style: normal; height: 17px; width: 17px; border-radius: 100%; background: #61aee2; text-align: center; line-height: 17px; color: #fff; margin-right: 5px; font-weight: bold; }
.win .wincont .uploadBtn, .win .wincont .sendcode { height: 30px; width: 72px; background: #e6e6e6; color: #666; text-align: center; position: relative; display: inline-block; line-height: 29px; overflow: hidden; border-radius: 5px; vertical-align: middle; }
.win .wincont .uploadBtn input[type=file] { font-size: 400px; position: absolute; right: 0; top: 0; opacity: 0; filter: alpha(opacity=0); }
.win .wincont .bd .group  img { display: inline-block; vertical-align: middle; }
.win .wincont .ft { text-align: center; padding: 45px 0; }
.win .wincont .ft a { display: inline-block; height: 30px; width: 85px; border-radius: 5px; text-align: center; font-size: 13px; line-height: 30px; margin: 0 10px; }
.win .wincont .ft a.cancel { background: #dbdbdb; color: #666; }
.win .wincont .ft a.confirm { background: #2490d9; color: #fff; }


/*需求大厅*/
.xqdt-page{}
.xqdt-index{ padding: 20px 0;}
.xqdt-floor{margin-bottom: 30px;}
.xqdt-floor .title{font-size: 20px; color: #000;height: 40px;line-height: 40px;}
.xqdt-floor .more{font-size: 13px; color: #666;}
.xqdt-floor .more-btn{color: #005bac;}

.floor-cnt{width: 100%; height: 307px;border: 1px solid #e1e1e1; /*border-top: 2px solid #aaa;*/overflow: hidden;}
.floor-cnt .left{width: 285px;height: 307px;overflow: hidden;}
.floor-cnt .mid{width: 933px;padding-top: 20px;}
.floor-cnt .mid .m-left{height:210px;overflow:hidden;}
.floor-cnt .mid .m-left .item{display: inline-block; font-size: 13px; color: #ccc; margin-left: 20px;        overflow: hidden;
        width: 200px;
        height: 208px;text-align: center;padding:2px;}
.floor-cnt .mid .m-left .item:hover{border: 1px solid #ccc;}
.floor-cnt .mid .m-left .item .name{color: #666}
.floor-cnt .mid .m-left .item .name .num{color: #ff6000}
.floor-cnt .mid .m-left .item .tips{background-color: #138d68;color: #fff; padding: 2px; border-radius: 4px}
.floor-cnt .mid .m-right{margin-left: 40px; margin-top: -8px;line-height: 31px;}
.floor-cnt .mid .m-right ul li{list-style: square;}
.floor-cnt .mid .m-bottom{width: 100%; border-left: 1px solid #ddd;border-top: 1px solid #ddd; position: relative;padding: 10px 50px; text-align: center; margin-top: 5px;}
.floor-cnt .mid .m-bottom .tips{background: #005bac; color: #fff;width: 20px;height: 60px; text-align: center;position: absolute;left: 20px; top: 5px; line-height: 15px;}
.floor-cnt .mid .m-bottom .m-logo{margin: 2px 14px;}

.floor-cnt .right{width: 220px;height: 307px;overflow: hidden; border-left: 1px solid #e1e1e1}
.floor-cnt .right .title{width: 100%;height: 45px; line-height: 45px;border-bottom: 1px solid #e1e1e1; padding-left: 10px; font-size: 16px; color: #666;}
.floor-cnt .right ul{width: 190px; margin: 0 auto; margin-top: 20px;}
.floor-cnt .right ul li{width: 85px;
        height: 73px;
        float: left;
        margin: 5px;}

.zltable tr td .tgbox img, .zltable tr td .tgbox span { display: inline-block; vertical-align: middle; }
.zltable tr td .tgbox img, .zltable tr td .tgbox span { display: inline-block; vertical-align: middle; }


/*需求大厅 end*/


/*商标服务-列表*/
.grid .sbfw-right{border-top: none;width: 220px;}
.grid .sbfw-right .list{border: 1px solid #ddd;text-align: center;padding: 10px 0;}
.grid .sbfw-right .list .item{margin-bottom: 5px;}


/*商学院-列表*/
.sxy-tab{border-bottom: 2px solid #ff8a00;margin-bottom: 10px; margin-top: 20px;}
.sxy-tab .item{display: inline-block; width: 115px; height: 40px; line-height: 40px; font-size: 15px; color: #666; text-align: center;background: #f3f3f3;border: 1px solid #ddd; border-bottom: none;float: left;}
.sxy-tab .item:hover,.sxy-tab .item.on{background: #ff8a00; color: #fff; border-color: #ff8a00}

.school-list{}
.school-list .grid .col-main{width: 100%;}
.school-list .grid .filterbar{border-top: 1px solid #ddd;overflow: hidden;}
.school-list .grid .col-main .shop-list .mod,.school-list .grid .col-sub .list .mod{margin-right: 16px;}


/*2016-11-21*/
/*需求大厅-详情*/
.xqdt-info{background: #f8f8f8;height: auto; border-bottom: 1px solid #ddd}
.xqdt-info .left{padding: 30px 0;width: 1000px;height: auto;}
.xqdt-info .right{ background: #fff; border-left: 1px solid #ffddaf;height: 510px; border-bottom: 1px solid #ddd;width: 200px;}
.xqdt-info .right .item{display: inline-block;height: 80px; line-height: 80px;padding-left: 30px; font-size: 14px; color: #999;position: relative;width: 100%; }
.xqdt-info .right .item .icon{position: absolute; left: -8px; top: 50%; margin-top: -7px;}
.xqdt-info .right .item.past{color: #ff9400;}
.xqdt-info .right .item.active{color: #ff9400;font-size: 16px;font-weight: bold;background: #ffedd5}
.xqdt-fws{padding: 20px 0;}
.xqdt-fws .x-title{display: inline-block;width: 100%; height: 20px; line-height: 20px; font-size: 18px;color: 333px; border-left: 5px solid #fa9800;padding-left: 20px;}
.xqdt-fws-box01{padding: 25px 40px;background: #f6f6f6}
.xqdt-fws-box01 .item01 .hp{margin-left: 20px;padding-top: 50px;}
.fws-info{margin-left: 20px;}
.xqdt-pf .icon{width: 15px; margin-top: -5px;}
.xqdt-pf .icon img{width: 100%}
.xqdt-fws-box01 .item02{}
.xqdt-fws-box01 .item02 ul li{float: left; margin-right: 35px;}
.xqdt-fws-box01 .item03 ul li{float: left; margin-right: 12px;background-color: #fff;margin-top: 5px;padding: 5px;}
