.header {
	width: 100%; position: relative; z-index: 999; min-width: 1220px;
}
.top {
	background: rgb(239, 239, 239); height: 30px; line-height: 30px; overflow: hidden; border-bottom-color: rgb(231, 231, 231); border-bottom-width: 1px; border-bottom-style: solid;
}
.top .icon {
	margin: 0px 2px;
}
.top-right a {
	margin-right: 15px;
}
.ad-box {
	width: 1220px; height: 60px; display: none;
}
.header-tool {
	width: 100%;
}
.search-box {
	width: 615px; padding-top: 45px;
}
.search {
	
}
.search-btn {
	background: rgb(0, 91, 172); width: 65px; height: 40px; text-align: center; color: rgb(255, 255, 255); line-height: 40px; font-size: 16px; display: inline-block;
}
.search-btn:hover {
	color: rgb(255, 255, 255);
}
.search-txt {
	border: 3px solid rgb(0, 91, 172); border-image: none; width: 425px; height: 40px; color: rgb(153, 153, 153); line-height: 40px; padding-left: 10px; font-size: 14px;
}
.search-hot {
	margin-top: 10px;
}
.search-hot a {
	margin: 0px 4px;
}
.search-hot .hot {
	color: rgb(250, 152, 0);
}
.search-hot .hot:hover {
	color: rgb(250, 152, 0);
}
.search-box .btn {
	padding: 0px; width: 115px; height: 40px; line-height: 40px; margin-left: 10px;
}
.tool-right {
	padding-top: 45px;
}
.phone-box {
	background: url("../images/phone.png") no-repeat left; color: rgb(0, 91, 172); padding-left: 40px; font-size: 17px;
}
.phone-box .num {
	color: rgb(230, 33, 42); font-size: 21px; margin-top: 5px;
}
.erweima-box {
	margin-top: -25px; margin-left: 10px;
}
.nav-wrap {
	background: rgb(0, 91, 172);
}
.nav {
	padding: 0px; height: 40px; line-height: 40px; position: relative; z-index: 1;
}
.nav a {
	color: rgb(255, 255, 255);
}
.nav .nLi {
	float: left; display: inline; position: relative;
}
.nav .nLi h3 {
	float: left;
}
.nav .nLi h3 a {
	padding: 0px 19px; font-size: 16px; font-weight: normal; display: block;
}
.nav .sub {
	background: rgb(214, 241, 250); padding: 20px 0px; left: 0px; top: 40px; width: 200px; height: 400px; line-height: 60px; display: none; position: absolute;
}
.nav .sub li {
	text-align: center; -ms-zoom: 1;
}
.nav .sub a i {
	background: url("../images/i_ztuo.png") no-repeat right; width: 60px; height: 40px; display: inline-block;
}
.nav .sub .first a {
	background-position: 10px 10px; margin: 9px auto; width: 150px; height: 40px; text-align: left; color: rgb(255, 255, 255); line-height: 40px; padding-left: 35px; font-size: 18px; display: inline-block; background-image: url("../images/ii01_h.png"); background-repeat: no-repeat;
}
.nav .sub .second a {
	background-position: 10px 10px; margin: 9px auto; width: 150px; height: 40px; text-align: left; color: rgb(255, 255, 255); line-height: 40px; padding-left: 35px; font-size: 18px; display: inline-block; background-image: url("../images/ii02_h.png"); background-repeat: no-repeat;
}
.nav .sub .third a {
	background-position: 10px 10px; margin: 9px auto; width: 150px; height: 40px; text-align: left; color: rgb(255, 255, 255); line-height: 40px; padding-left: 35px; font-size: 18px; display: inline-block; background-image: url("../images/ii03_h.png"); background-repeat: no-repeat;
}
.nav .sub .forth a {
	background-position: 10px 10px; margin: 9px auto; width: 150px; height: 40px; text-align: left; color: rgb(255, 255, 255); line-height: 40px; padding-left: 35px; font-size: 18px; display: inline-block; background-image: url("../images/ii04_h.png"); background-repeat: no-repeat;
}
.nav .sub .fifth a {
	background-position: 10px 10px; margin: 9px auto; width: 150px; height: 40px; text-align: left; color: rgb(255, 255, 255); line-height: 40px; padding-left: 35px; font-size: 18px; display: inline-block; background-image: url("../images/ii05_h.png"); background-repeat: no-repeat;
}
.nav .sub .sixth a {
	background-position: 10px 10px; margin: 9px auto; width: 150px; height: 40px; text-align: left; color: rgb(255, 255, 255); line-height: 40px; padding-left: 35px; font-size: 18px; display: inline-block; background-image: url("../images/ii06_h.png"); background-repeat: no-repeat;
}
.nav .sub .seventh a {
	background-position: 10px 10px; margin: 9px auto; width: 150px; height: 40px; text-align: left; color: rgb(255, 255, 255); line-height: 40px; padding-left: 35px; font-size: 18px; display: inline-block; background-image: url("../images/ii07_h.png"); background-repeat: no-repeat;
}
.nav .sub .eighth a {
	background-position: 10px 4px; margin: 9px auto; border-radius: 10px; border: 1px solid rgb(0, 91, 172); border-image: none; width: 150px; height: 40px; text-align: left; color: rgb(255, 255, 255); line-height: 40px; padding-left: 35px; font-size: 18px; display: inline-block; background-image: url("../images/ii08.png"); background-repeat: no-repeat; background-color: rgb(0, 91, 172);
}
.nav .sub .first a:hover {
	color: rgb(255, 255, 255); background-image: url("../images/ii01_h.png"); background-repeat: no-repeat;
}
.nav .sub .second a:hover {
	color: rgb(255, 255, 255); background-image: url("../images/ii02_h.png"); background-repeat: no-repeat;
}
.nav .sub .third a:hover {
	color: rgb(255, 255, 255); background-image: url("../images/ii03_h.png"); background-repeat: no-repeat;
}
.nav .sub .forth a:hover {
	color: rgb(255, 255, 255); background-image: url("../images/ii04_h.png"); background-repeat: no-repeat;
}
.nav .sub .fifth a:hover {
	color: rgb(255, 255, 255); background-image: url("../images/ii05_h.png"); background-repeat: no-repeat;
}
.nav .sub .sixth a:hover {
	color: rgb(255, 255, 255); background-image: url("../images/ii06_h.png"); background-repeat: no-repeat;
}
.nav .sub .seventh a:hover {
	color: rgb(255, 255, 255); background-image: url("../images/ii07_h.png"); background-repeat: no-repeat;
}
.nav .sub .eighth a:hover {
	color: rgb(255, 255, 255); background-image: url("../images/ii08_h.png"); background-repeat: no-repeat;
}
.nav .cur h3 a {
	background: rgb(250, 152, 0); color: rgb(255, 255, 255);
}
.nav li:hover h3 a {
	background: rgb(250, 152, 0); color: rgb(255, 255, 255);
}
.footer {
	width: 100%; min-width: 1220px;
}
.servicetag {
	padding: 30px 0px;
}
.servicetag ul li {
	width: 25%; float: left;
}
.servicetag ul li a {
	margin: 0px auto; text-align: center; color: rgb(102, 102, 102); font-size: 0px; display: block;
}
.servicetag ul li a img {
	vertical-align: middle; display: inline-block;
}
.servicetag ul li a span {
	font-size: 16px; margin-left: 14px; vertical-align: middle;
}
.bottom {
	background: rgb(73, 78, 82); padding-top: 26px;
}
.bottom .help {
	
}
.bottom .help .mod {
	width: 15%; padding-right: 20px; float: left;
}
.bottom .help .mod h4 {
	color: rgb(255, 255, 255); font-size: 18px; font-weight: normal; margin-bottom: 10px;
}
.bottom .help :last-child.mod {
	text-align: right;
}
.bottom .help .mod ul li {
	width: 100%; color: rgb(187, 187, 187); margin-left: 15px; float: left; list-style-type: square;
}
.bottom .help .mod ul li a {
	color: rgb(187, 187, 187); line-height: 25px; font-size: 14px;
}
.bottom .help .mod img {
	margin-right: 5px; vertical-align: middle; display: inline-block;
}
.bottom .help .mod-contact.mod .telphone {
	color: rgb(250, 152, 0); font-size: 22px;
}
.bottom .help .mod-contact.mod div {
	margin: 15px 0px; color: rgb(187, 187, 187); font-size: 13px;
}
.bottom .help .mod-contact.mod a {
	background: rgb(0, 91, 172); width: 154px; height: 30px; text-align: center; color: rgb(255, 255, 255); line-height: 30px; font-size: 14px; display: inline-block;
}
.ftlink {
	padding: 10px 0px; text-align: center;
}
.ftlink ul {
	margin: 20px auto 10px;
}
.ftlink li {
	text-align: center; display: inline-block;
}
.ftlink li.line {
	margin: 0px 5px;
}
.ftlink {
	color: rgb(136, 136, 136); font-size: 14px;
}
.bottom .ftlink li a {
	color: rgb(136, 136, 136); font-size: 14px;
}
.ftlink li {
	
}
.ftlink p {
	
}
.breadcrumb {
	color: rgb(102, 102, 102); border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;
}
.breadcrumb a {
	color: rgb(102, 102, 102); line-height: 50px; margin-top: 10px;
}
.m-footer .w1220 {
	border-top-color: rgb(250, 152, 0); border-top-width: 2px; border-top-style: solid;
}
.page {
	width: 100%; text-align: center; clear: both; margin-bottom: 40px;
}
.page ul {
	display: inline-block;
}
.page ul li {
	padding: 0px; margin-right: 10px; float: left;
}
.page ul li a {
	padding: 3px 11px; border-radius: 4px; border: 1px solid rgb(204, 204, 204); border-image: none; color: rgb(102, 102, 102); font-size: 14px; display: block;
}
.page ul li a:hover {
	background: rgb(0, 91, 172); color: rgb(255, 255, 255);
}
.page02 ul li a.current {
	background: rgb(0, 91, 172); color: rgb(255, 255, 255);
}
.slideBox {
	width: 100%; height: 380px; text-align: center; overflow: hidden; position: relative;
}
.slideBox .hd {
	left: 50%; bottom: 15px; overflow: hidden; margin-left: -55px; position: absolute; z-index: 999;
}
.slideBox .hd ul {
	overflow: hidden; float: left; -ms-zoom: 1;
}
.slideBox .hd ul li {
	background: rgba(0, 0, 0, 0.3); border-radius: 50%; width: 16px; height: 16px; text-align: center; margin-right: 12px; float: left; z-index: 999; cursor: pointer;
}
.slideBox .hd ul li.on {
	background: rgb(255, 255, 255);
}
.slideBox .bd {
	margin: 0px auto; width: 100%; height: 100%; position: relative; z-index: 0;
}
.slideBox .bd li {
	background-position: top; width: 100%; height: 380px; vertical-align: middle; position: relative; -ms-zoom: 1; background-repeat: no-repeat;
}
.slideBox .bd li a {
	background-position: top; width: 100%; height: 100%; display: inline-block; background-repeat: no-repeat;
}
.txt_left {
	text-align: left;
}
td.txt_left {
	text-align: left;
}
.account-list td.txt_left {
	text-align: left;
}
td.tt {
	color: rgb(102, 102, 102); padding-left: 20px; font-weight: 600;
}
