@charset "utf-8";
/* CSS Document */
.gd_left .gd_t {
    background: url(../../images/market/left_t.gif) bottom no-repeat;
    height: 32px;
    line-height: 32px;
    width: 100%;
}

.gd_left .gd_t a {
    display: block;
    font-size: 16px;
    color: #FFF;
    font-weight: 700;
    margin-bottom: 5px;
    height: 32px;
    line-height: 32px;
    padding-left: 40px;
}

.gd_left .gd_t {
    background: url(../../images/zjmi/Plate/Lt_titbg.gif) repeat-x;
    height: 32px;
    line-height: 32px;
    width: 100%;
}

.gd_left .gd_t a {
    display: block;
    font-size: 14px;
    color: #FFF;
    font-weight: normal;
    margin-bottom: 5px;
    height: 32px;
    line-height: 32px;
    padding-left: 40px;
}

.gd_left .gd_bs {
    background: url(../../images/market/left_bs.gif) bottom no-repeat;
    height: 32px;
    line-height: 32px;
    width: 100%;
}

.gd_left .gd_bs a {
    display: block;
    font-size: 16px;
    color: #FFF;
    font-weight: 700;
    margin-bottom: 5px;
    height: 32px;
    line-height: 32px;
    padding-left: 40px;
}

.gd_left .gd_bs {
    background: url(../../images/zjmi/Plate/Lt_titbg.gif) repeat-x;
    height: 32px;
    line-height: 32px;
    width: 100%;
}

.gd_left .gd_bs a {
    display: block;
    font-size: 14px;
    color: #FFF;
    font-weight: normal;
    margin-bottom: 5px;
    height: 32px;
    line-height: 32px;
    padding-left: 40px;
}

.zs_leftmenu02 {
    width: 128px;
    border: 1px solid #dedede;
    border-width: 0 1px 1px 1px;
    overflow: hidden;
}

.zs_leftmenu02 dl {
    width: 128px;
}

.zs_leftmenu02 dt {
    padding: 0 5px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #dedede;
    border-width: 1px 0 1px 0;
    background: url(../../images/market/nleftmenu_bg02.gif) repeat-x;
}

.zs_leftmenu02 dt h2 {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    text-indent: 5px;
}

.zs_leftmenu02 dd {
    margin: 3px 0;
    padding: 3px 10px;
    font-size: 12px;
    text-indent: 15px;
}

.zs_leftmenu02 dd:hover {
    color: #f9063c;
    background: url(../../images/market/icon_07.gif) no-repeat 10px 50% #e6e6e6;
}

.zs_leftmenu02 dd.current {
    color: #f9063c;
    background: url(../../images/market/icon_07.gif) no-repeat 10px 50% #e6e6e6;
}

.zs_leftmenu02 dd a {
    font-size: 12px;
    color: #333;
    text-decoration: none;
}

.zs_leftmenu02 dd a:hover {
    color: #f9063c;
    text-decoration: none;
}

.zs_leftmenu02 dd.current a {
    color: #d50c02;
    font-weight: bold;
    text-decoration: none;
}

.zs_leftmenu02 dd.current a:hover {
    color: #f9063c;
    text-decoration: none;
}

.zs_leftmenu {
    width: 133px;
    border: 1px solid #dedede;
    border-width: 0 1px 1px 1px;
    overflow: hidden;
}

.zs_leftmenu dl {
    width: 133px;
}

.zs_leftmenu dt {
    padding: 0 5px;
    height: 25px;
    line-height: 25px;
    border: 1px solid #dedede;
    border-width: 1px 0 1px 0;
    background: url(../../images/market/nleftmenu_bg.gif) repeat-x;
}

.zs_leftmenu dt h2 {
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    font-weight: bold;
    color: #262626;
    background: url(../../images/market/nleftmenu_line.gif) no-repeat 0 50%;
    text-indent: 15px;
}

.zs_leftmenu dd {
    margin: 3px 0;
    padding: 3px 10px;
    font-size: 14px;
}

.zs_leftmenu dd a {
    font-size: 14px;
    color: #333;
    text-decoration: none;
}

.zs_leftmenu dd a:hover {
    color: #f9063c;
    text-decoration: none;
}

.zs_leftmenu dd.current a {
    color: #f9063c;
    text-decoration: none;
}

.zs_leftmenu dd.current a:hover {
    color: #f9063c;
    text-decoration: none;
}

