@charset "utf-8";
/* CSS Document */
.gd_user-info, .gd_tips, .gd_area01 {
    display: block;
    width: 570px;
    clear: both;
}

.border {
    border: 1px solid #e6e6e6
}

.gd_avatar {
    float: left;
    width: 120px;
    height: 94px;
    overflow: hidden
}

.gd_info {
    float: left;
    margin-left: 10px;
    width: 440px;
}

.gd_info li {
    line-height: 25px;
}

.gd_info li img {
    vertical-align: middle;
    margin-left: 0px
}

.orFont {
    color: #f28007
}

.gd_tips {
    background: url(../../images/market/img01.gif) no-repeat left;
    height: 35px;
    line-height: 38px;
    text-indent: 30px
}

.gd_area01 {
    margin-top: 8px;
}

.gd_area01 h1 {
    border-bottom: 1px solid #bc020f;
    height: 35px;
}

.cz {
    background: url(../../images/market/ico06.gif) no-repeat 0 0;
}

.cw {
    background: url(../../images/market/ico06.gif) no-repeat 0 -32px;
}

ul.gd_cwinfo {
    margin-top: 15px;
    text-align: center;
    line-height: 25px
}

.ar {
    text-align: right;
    margin-top: 10px;
}

.gd_pt-title {
    background: url(../../images/h_bg2.gif) repeat-x;
    height: 34px;
    line-height: 34px;
    color: #333333;
    text-indent: 15px;
    font-size: 14px;
    font-weight: bold;
    border-top: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5
}

.gd_pt-notice {
    border: 1px solid #E5E5E5;
    border-top: none;
    padding: 5px
}

.gd_pt-notice ul {
    margin: 8px;
}

.gd_pt-notice li {
    display: block;
    border-bottom: 1px dotted #E5E5E5;
    background: url(../../images/market/ico07.gif) no-repeat left;
    text-indent: 15px;
    line-height: 25px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
}

.gd_sever {
    margin-top: 10px;
    line-height: 25px;
    text-indent: 15px
}

.gd_sever h1 {
    font-size: 14px;
    color: #C60001;
    background: url(../../images/market/ico08.gif) left no-repeat;
    text-indent: 15px;
    line-height: 30px
}

.gd_border_b {
    border-bottom: 1px solid #E5E5E5
}

.gd_cztips table {
    margin: 10px auto;
    width: 100%;
}

.gd_cztips th {
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    line-height: 30px
}

.gd_cztips td {
    border-bottom: 1px solid #E5E5E5;
    line-height: 30px;
}

.zs_ywzx {
    float: left;
    width: 780px;
    overflow: hidden;
}

.zs_ywzxn {
    width: 780px;
    margin-bottom: 10px;
    overflow: hidden;
}

.zs_ywzxtop {
    border-bottom: 1px solid #be0013;
}

.zs_ywzxtop h2 {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    text-indent: 35px;
}

.zs_ywzxtop .gs {
    background: url(../../images/market/ht_pic.gif) no-repeat;
}

.zs_ywzxtop .cz {
    background: url(../../images/market/ht_pic.gif) no-repeat 0 -37px;
}

.zs_ywzxtop .cw {
    background: url(../../images/market/ht_pic.gif) no-repeat 0 -70px;
}

.zs_ywzxcont {
    width: 780px;
    overflow: hidden;
}

.zs_gsxxcont01 {
    float: left;
    width: 177px;
    height: 78px;
    margin: 10px 30px 0 10px;
    padding-top: 6px;
    display: inline;
    background: url(../../images/market/spxx_xj.gif) no-repeat;
}

.zs_gsxxcont01 p {
    width: 165px;
    margin: 0 auto;
    padding: 3px 0;
    color: #888;
}

.zs_gsxxcont01 p img {
    position: relative;
    top: 3px;
}

.zs_gsxxcont02 {
    float: left;
    width: 550px;
    margin-top: 10px;
}

.zs_gsxxcont02 p {
    margin: 0 auto;
    padding: 3px 0;
    color: #333;
}

.zs_gsxxcont02 .redfont {
    color: #ff0000;
    font-weight: bold;
}

.zs_gsxxcont02 .phone {
    width: 100px;
    margin-left: 15px;
    font-weight: bold;
    color: #0663cd;
    display: inline-block;
    text-indent: 15px;
    background: url(../../images/market/head/pt_icon.gif) no-repeat 0 3px;
}

.zs_gsxxcont02 p.title {
    color: #f47e00;
    font-weight: bold;
    margin-bottom: 10px;
}

.zs_gsxxcont02 p img {
    position: relative;
    top: 3px;
}

.zs_gsxxts {
    width: 560px;
    margin-top: 10px;
}

.zs_gsxxtstop {
    width: 9px;
    height: 5px;
    position: relative;
    left: 163px;
    background: url(../../images/market/ht_pic.gif) no-repeat -163px -281px;
    overflow: hidden;
}

.zs_gsxxtscont {
    width: 560px;
    height: 31px;
}

.zs_gsxxtscont li {
    float: left;
    width: 560px;
    height: 31px;
    line-height: 31px;
}

.zs_gsxxtscont .left {
    width: 10px;
    height: 31px;
    background: url(../../images/market/ht_pic.gif) no-repeat 0 -286px;
}

.zs_gsxxtscont .mid {
    width: 540px;
    height: 31px;
    text-indent: 10px;
    background: url(../../images/market/ht_pic.gif) no-repeat -10px -286px;
}

.zs_gsxxtscont .mid .pic {
    float: left;
    width: 10px;
    height: 16px;
    margin-top: 8px;
    display: block;
    background: url(../../images/market/ht_pic.gif) no-repeat 0 -136px;
}

.zs_gsxxtscont .mid .cfont {
    color: #e77805;
}

.zs_gsxxtscont .right {
    width: 10px;
    height: 31px;
    background: url(../../images/market/ht_pic.gif) no-repeat -550px -286px;
}

.zs_cztx {
    width: 580px;
    margin-top: 10px;
    overflow: hidden;
}

.zs_cztxtop {
    width: 580px;
    height: 30px;
    line-height: 30px;
    color: #333;
    font-size: 14px;
    text-indent: 20px;
}

.zs_cztxpic01 {
    background: url(../../images/market/ht_pic.gif) no-repeat 0 -155px;
}

.zs_cztxpic02 {
    background: url(../../images/market/ht_pic.gif) no-repeat 0 -178px;
}

.zs_cztxpic03 {
    background: url(../../images/market/ht_pic.gif) no-repeat 0 -205px;
}

.zs_cztxcont {
    width: 560px;
    padding-left: 20px;
}

.zs_cztxcont li {
    float: left;
    width: 140px;
    height: 30px;
    line-height: 30px;
    color: #333;
    font-size: 12px;
    border-bottom: 1px solid #e5e5e5;
}

.zs_cztxcont .cfont {
    color: #f0851d;
    font-weight: bold;
}

.zs_cztxcont .cfont a {
    color: #f0851d;
    font-weight: bold;
}

.zs_cwxxcont {
    width: 580px;
    line-height: 30px;
    padding: 10px 0;
    text-align: center;
}

.zs_cwxxcont .cfont {
    color: #e77805;
    font-weight: bold;
}

.zs_cwxxbtn {
    width: 580px;
    height: 34px;
}

.zs_cwxxbtn .btn_buy {
    float: right;
    width: 172px;
    height: 34px;
    display: block;
    background: url(../../images/market/ht_pic.gif) no-repeat 0 -238px;
}

.zs_cwxxbtn .btn_buy:hover {
    background: url(../../images/market/ht_pic.gif) no-repeat -182px -238px;
}

.zs_cwxxbtn .btn_zx {
    float: right;
    width: 172px;
    height: 34px;
    display: block;
    background: url(../../images/market/zx_pic.gif) no-repeat 0 -238px;
}

.zs_cwxxbtn .btn_zx:hover {
    background: url(../../images/market/zx_pic.gif) no-repeat -182px -238px;
}

.xh_zc {
    BORDER-BOTTOM: #b7b7b7 1px solid;
    BORDER-LEFT: #b7b7b7 1px solid;
    MARGIN: 0px;
    WIDTH: 100%;
    HEIGHT: 312px !important;
    BORDER-RIGHT: #b7b7b7 1px solid
}

.xh_in_krd32 {
    BORDER-BOTTOM: #b7b7b7 1px solid;
    BORDER-TOP: #b7b7b7 0px solid;
    BORDER-LEFT: #b7b7b7 1px solid;
    WIDTH: 100%;
    FLOAT: left;
    HEIGHT: 220px;
    BORDER-RIGHT: #b7b7b7 1px solid
}

.xh_in_kh1new {
    BACKGROUND: url(../../images/market/index/index_navbg2.gif) repeat-x;
    HEIGHT: 26px
}

.xh_in_title {
    width: 18%;
    text-align: center;
    color: #000000;
    line-height: 26px;
    font-size: 14px;
    font-weight: bold;
    float: left;
}

.xh_in_kht5new {
    FLOAT: left;
    HEIGHT: 26px;
    WIDTH: 70%;
}

.xh_in_kht5new UL {
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}

.xh_in_kht5new LI {
    TEXT-ALIGN: center;
    LIST-STYLE-TYPE: none;
    WIDTH: 16%;
    FLOAT: left;
    HEIGHT: 22px;
    COLOR: #681e2b;
    FONT-SIZE: 14px;
    CURSOR: pointer;
    FONT-WEIGHT: bold;
    PADDING-TOP: 4px
}

.xh_in_kht5new .lion {
    BACKGROUND: url(../../images/market/index/xhpt_btbg.gif) repeat-x;
    COLOR: #fff
}

.xh_in_khm2 {
    HEIGHT: 26px;
    MARGIN-LEFT: 90%;
    WIDTH: 12%;
}

.xh_in_khm2 UL {
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}

.xh_in_khm2 LI {
    TEXT-ALIGN: left;
    LIST-STYLE-TYPE: none;
    HEIGHT: 26px;
    PADDING-TOP: 4px
}

.xh_in_khm2 A:link {
    COLOR: #666666;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}

.xh_in_khm2 A:active {
    COLOR: #666666;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}

.xh_in_khm2 A:visited {
    COLOR: #666666;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}

.xh_in_khm2 A:hover {
    COLOR: #ff4400;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}

.xh_in_kht6new {
    BACKGROUND: url(../../images/market/index/index_zxfbdo.gif) repeat-x;
    HEIGHT: 24px
}

.xh_in_kht6new UL {
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}

.xh_in_kht6new LI {
    TEXT-ALIGN: center;
    LINE-HEIGHT: 24px;
    FLOAT: left;
    HEIGHT: 24px;
    COLOR: #003366;
    FONT-SIZE: 12px
}

.xh_in_kht6new .li1 {
    WIDTH: 34%
}

.xh_in_kht6new .li2 {
    TEXT-ALIGN: center;
    WIDTH: 24%
}

.xh_in_kht6new .li3 {
    TEXT-ALIGN: left;
    WIDTH: 13%
}

.xh_in_kht6new .li4 {
    TEXT-ALIGN: left;
    WIDTH: 13%
}

.xh_in_kht6new .li5 {
    TEXT-ALIGN: left;
    WIDTH: 12%
}

.xh_in_kht6new .li6 {
    TEXT-ALIGN: center;
    WIDTH: 4%
}

.xh_in_kht6new .li07 {
    TEXT-ALIGN: left;
    WIDTH: 6%
}

.jy_zcjy_jynr {
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 3px;
    WIDTH: 100%;
    PADDING-RIGHT: 3px;
    PADDING-TOP: 0px;
    WIDTH: 99%;
    COLOR: #4f4f4f;
}

.jy_zcjy_jynr UL {
    BORDER-BOTTOM: #e9c3d0 0px dashed;
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    HEIGHT: 26px;
    PADDING-TOP: 0px;
    BACKGROUND: url(../../images/market/index/line9.gif) repeat-x;
}

.jy_zcjy_jynr LI {
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    TEXT-OVERFLOW: ellipsis;
    WHITE-SPACE: nowrap;
    FLOAT: left;
    OVERFLOW: hidden;
    PADDING-TOP: 5px
}

.jy_zcjy_jynr .li00 {
    TEXT-ALIGN: left;
    PADDING-LEFT: 10px;
    WIDTH: 31%
}

.jy_zcjy_jynr .li01 {
    TEXT-ALIGN: left;
    WIDTH: 21%
}

.jy_zcjy_jynr .li02 {
    TEXT-ALIGN: right;
    WIDTH: 10%
}

.jy_zcjy_jynr .li03 {
    TEXT-ALIGN: right;
    WIDTH: 14%;
    COLOR: #ff6600;
    FONT-WEIGHT: bold
}

.jy_zcjy_jynr .li05 {
    TEXT-ALIGN: left;
    WIDTH: 12%
}

.jy_zcjy_jynr .li06 {
    TEXT-ALIGN: left;
    WIDTH: 4%
}

.jy_zcjy_jynr .li07 {
    TEXT-ALIGN: left;
    WIDTH: 6%
}

.jy_zcjy_jynr .li00 A:link {
    COLOR: #ff3300;
    TEXT-DECORATION: none
}

.jy_zcjy_jynr .li00 A:visited {
    COLOR: #ff3300;
    TEXT-DECORATION: none
}

.jy_zcjy_jynr .li00 A:active {
    COLOR: #ff3300;
    TEXT-DECORATION: none
}

.jy_zcjy_jynr .li00 A:hover {
    COLOR: #ff3300;
    TEXT-DECORATION: underline
}

.jy_zcjy_jynr .li01 A:link {
    COLOR: #333333;
    TEXT-DECORATION: none
}

.jy_zcjy_jynr .li01 A:visited {
    COLOR: #333333;
    TEXT-DECORATION: none
}

.jy_zcjy_jynr .li01 A:active {
    COLOR: #333333;
    TEXT-DECORATION: none
}

.jy_zcjy_jynr .li01 A:hover {
    COLOR: #ff0000;
    TEXT-DECORATION: none
}

.xh_in_khnr3 {
    TEXT-ALIGN: center;
    HEIGHT: 262px;
    font-size: 12px;
}

.xh_in_kht07 {
    WIDTH: 100%;
    BACKGROUND: url(../../images/market/index/index_navbg.gif) repeat-x;
    FLOAT: left;
    HEIGHT: 26px;
    OVERFLOW: hidden
}

.xh_in_kht07 .tit_right {
    LINE-HEIGHT: 26px;
    FLOAT: right;
    MARGIN-RIGHT: 8px
}

.xh_in_kht07 .tit_right A:link {
    COLOR: #000
}

.xh_in_kht07 .tit_right A:active {
    COLOR: #000
}

.xh_in_kht07 .tit_right A:visited {
    COLOR: #000
}

.xh_in_kht07 UL {
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}

.xh_in_kht07 LI {
    TEXT-ALIGN: center;
    LIST-STYLE-TYPE: none;
    WIDTH: 50%;
    FLOAT: left;
    HEIGHT: 25px;
    COLOR: #681e2b;
    FONT-SIZE: 14px;
    CURSOR: pointer;
    FONT-WEIGHT: bold;
    PADDING-TOP: 5px
}

.xh_in_kht07 .lion {
    BACKGROUND: url(../../images/market/index/xhpt_btbg.gif) repeat-x;
    COLOR: #fff
}

.xh_in_kht07 .lioff {

}

.xh_in_khnr10n {
    PADDING-LEFT: 4%;
    PADDING-RIGHT: 0%;
    HEIGHT: 191px
}

.xh_in_khnr10n {
    MARGIN: 0px auto;
    HEIGHT: 190px
}

.xh_in_khnr10n UL {
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    WIDTH: 97%;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}

.xh_in_khnr10n LI {
    TEXT-ALIGN: left;
    LINE-HEIGHT: 23px;
    LIST-STYLE-TYPE: none;
    PADDING-LEFT: 12px;
    WIDTH: 24%;
    FLOAT: left;
    HEIGHT: 23px;
    COLOR: #333333;
    FONT-SIZE: 12px
}

.xh_in_khnr10n LI A:link {
    COLOR: #333333;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}

.xh_in_khnr10n LI A:active {
    COLOR: #333333;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}

.xh_in_khnr10n LI A:visited {
    COLOR: #333333;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}

.xh_in_khnr10n LI A:hover {
    COLOR: #ff6600;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}

.nr2 {
    BORDER-BOTTOM: #b7b7b7 1px solid;
    BORDER-LEFT: #b7b7b7 1px solid;
    WIDTH: 100%;
    FLOAT: left;
    HEIGHT: 219px !important;
    BORDER-TOP: #b7b7b7 1px solid;
    BORDER-RIGHT: #b7b7b7 1px solid;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.nr2 .tit {
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 0px;
    BACKGROUND: url(../../images/market/index/index_navbg.gif) repeat-x;
    HEIGHT: 26px;
    PADDING-TOP: 5px;
    COLOR: #4f4f4f;
}

.nr2 .tit H1 {
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}

.nr2 .tit H1 A {
    text-decoration: none;
}

.nr2 .tit H1 A:link {
    FLOAT: left;
    COLOR: #000000;
    FONT-SIZE: 14px;
    FONT-WEIGHT: bold;
    text-decoration: none;
}

.nr2 .tit H1 A:hover {
    FLOAT: left;
    COLOR: #000000;
    FONT-SIZE: 14px;
    FONT-WEIGHT: bold;
    text-decoration: underline;
}

.nr2 .tit H2 A:active {
    FLOAT: left;
    COLOR: #000000;
    FONT-SIZE: 14px;
    FONT-WEIGHT: bold
}

.nr2 .tit H1 A:visited {
    FLOAT: left;
    COLOR: #000000;
    FONT-SIZE: 14px;
    FONT-WEIGHT: bold;
    text-decoration: none;
}

.zx_list UL {
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    text-align: center;
}

.zx_list LI {
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    text-align: center;
    width: 100%;
    height: 26px;
}

.show {
    WIDTH: 100%;
    HEIGHT: 23px
}

.show LI {
    FLOAT: left
}

.show .li00 {
    TEXT-ALIGN: left;
    LINE-HEIGHT: 23px;
    WIDTH: 65%;
    TEXT-OVERFLOW: ellipsis;
    WHITE-SPACE: nowrap;
    BACKGROUND: url(../../images/market/index/line23.gif);
    OVERFLOW: hidden;
}

.show .li01 {
    TEXT-ALIGN: left;
    LINE-HEIGHT: 23px;
    WIDTH: 20%;
    BACKGROUND: url(../../images/market/index/line23.gif);
}

.show .li02 {
    TEXT-ALIGN: left;
    LINE-HEIGHT: 23px;
    WIDTH: 15%;
    TEXT-OVERFLOW: ellipsis;
    WHITE-SPACE: nowrap;
    BACKGROUND: url(../../images/market/index/line23.gif);
    OVERFLOW: hidden;
}

.zx_list {
    MARGIN: 3px 5px 0px;
    HEIGHT: 182px
}

.zx_list .cjdx {
    MARGIN-TOP: 5px;
    WIDTH: 100%;
    HEIGHT: 25px
}

.zx_list ul {
    height: 155px;
    overflow: hidden;
}

.changeTop {
    position: relative;
}

.cjdx .c1 {
    WIDTH: 190px;
    FLOAT: left
}

.cjdx .divpage2 {
    WIDTH: 100px;
    FLOAT: right
}

.colorPage {
    WIDTH: 90px;
    FLOAT: right
}

.ctrlPages {
    LINE-HEIGHT: 21px;
    MARGIN: 0px 0px 0px 5px;
    WIDTH: 23px;
    BACKGROUND: url(../../images/market/index/pagenum2.gif) no-repeat;
    FLOAT: left;
    HEIGHT: 23px;
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
}

.curPage {
    LINE-HEIGHT: 21px;
    MARGIN: 0px 0px 0px 5px;
    WIDTH: 23px;
    BACKGROUND: url(../../images/market/index/pagenum1.gif) no-repeat;
    FLOAT: left;
    HEIGHT: 23px;
    text-align: center;
}

.ellipsis30 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 30px;
}

.ellipsis40 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 40px;
}

.ellipsis50 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 50px;
}

.ellipsis60 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 60px;
}

.ellipsis70 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70px;
}

.ellipsis80 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80px;
}

.ellipsis90 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90px;
}

.ellipsis100 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
}

.ellipsis110 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 110px;
}

.ellipsis120 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 120px;
}

.ellipsis130 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 130px;
}

.ellipsis140 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 140px;
}

.ellipsis150 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
}

.ellipsis160 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 160px;
}

.ellipsis170 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 170px;
}

.ellipsis180 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 180px;
}

.ellipsis190 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 190px;
}

.ellipsis200 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
}

.ellipsis210 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 210px;
}

.ellipsis220 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 220px;
}

.ellipsis230 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 230px;
}

.ellipsis240 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 240px;
}

.ellipsis250 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
}

.ellipsis260 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 260px;
}

.ellipsis270 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 270px;
}

.ellipsis280 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 280px;
}

.ellipsis290 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 290px;
}

.ellipsis300 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
}

.ellipsis310 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 310px;
}

.ellipsis320 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 320px;
}

.ellipsis330 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 330px;
}

.ellipsis340 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 340px;
}

.ellipsis350 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 350px;
}

.ellipsis360 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 360px;
}

.ellipsis370 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 370px;
}

.ellipsis380 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 380px;
}

.ellipsis390 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 390px;
}

.ellipsis400 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 400px;
}

.ellipsis410 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 410px;
}

.ellipsis420 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 420px;
}

.ellipsis430 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 430px;
}

.ellipsis440 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 440px;
}

.ellipsis450 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 450px;
}

.ellipsis460 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 460px;
}

.ellipsis470 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 470px;
}

.ellipsis480 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 480px;
}

.ellipsis490 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 490px;
}

.ellipsis500 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
}

.ellipsis510 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 510px;
}

.ellipsis520 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 520px;
}

.ellipsis530 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 530px;
}

.ellipsis540 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 540px;
}

.ellipsis550 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 550px;
}

.ellipsis560 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 560px;
}

.ellipsis570 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 570px;
}

.ellipsis580 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 580px;
}

.ellipsis590 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 590px;
}

.ellipsis600 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 600px;
}
