@charset "utf-8";
/*top*/
.gd_top{ height:25px; background:#efefef; line-height:25px;}
.gd_top .gd_l{ float:left; width:400px; text-indent:5px}
.gd_top .gd_r{ float:right; width:400px; text-align:right}
.gd_top a{ margin-right:8px}