html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video,input,textarea {font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;margin: 0;padding: 0;border: 0;font-size: 100%;vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
ol, ul ,s{list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
i{font-style:normal;}
b{font-weight:normal;}
a{color:#666;text-decoration:none;}
input:focus,button:focus,textarea:focus{outline:none;}
textarea{resize:none;}
/* add */
body,html{font-size:16px;height:100%;line-height: 1;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;}
img{border:0}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;cursor:default;}
.clearfix { zoom:1; }
.clearfix:after { content:""; display:block; clear:both; height:0; }
.clear{clear:both;}
.wrap{width:1200px;min-width:1200px;margin:0 auto;}
/*字体*/
.cw{color: #fff;}
.ch{color: #666;}
.cr{color:#de293c;}
.ce{color:#dd4d5c}
.c9{color: #999;}
.c3{color: #333;}
.fw{font-weight:bold;}
.f12{font-size:12px;}
.f14{font-size: 14px;}
.f16{font-size:16px;}
.f18{font-size: 18px;}
.f26{font-size: 26px;}
.lh{line-height: 30px;}
.fl{float: left;}
.fr{float: right;}
.pr{position:relative;}
.pb{position: absolute;}
.pf{position: fixed;}
.tc{text-align:center;}
.dn{display:none;}
.db{display: inline-block;}
.cur{cursor:pointer;}
.btn{width:100px;line-height: 26px;text-align: center;color: #de293c;background: #fff;border:1px solid #de293c}
.btn:hover{color: #fff;background: #de293c;border:1px solid #de293c;cursor: pointer;}
.btntwo{width:100px;line-height: 26px;text-align: center;color: #de293c;background: #fff;border:1px solid #de293c;    margin-left: 7px;}
.btntwo:hover{color: #fff;background: #de293c;border:1px solid #de293c;cursor: pointer;}
/*头部*/
.header_nav{
	width:100%;
	background:#f1f1f1;
	height:35px;
	line-height: 35px;
	font-size:14px;
}
.cc3{
	color: #333;
}
.header_nav span a:hover,.header_nav span a{
	color:#de293c;
}
.header_nav dt{
	width:110px;
	border:1px solid #f1f1f1;
	border-bottom: none;
	line-height: 32px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.header_nav dt.hover{
	border:1px solid #f1f1f1;
	background: #f1f1f1;
	border-bottom:none;
}
.header_nav dl.lg_before dt.hover{
	border:none;
	background: none;
}
.header_nav dd{
	width:110px;
	position:absolute;
	top:32px;
	left:0;
	border:1px solid #f1f1f1;
	font-size:12px;
	border-bottom: none;
	background: #f1f1f1;
	z-index: 99999;
}
.header_nav dd i{
	float: left;
}
.header_nav dd a{
	    float: left;
    line-height: 29px;
    cursor: pointer;
}
.tech_dd a{
	width: 100%;
    height: 100%;
    display: inline-block;
    text-align: center;
}
.myshc {
	line-height: 33px;
}
.myshc li{
	text-indent: 5px;
}
.header_nav ul li{
	/* border-bottom:1px solid #bababa; */
	height: 29px;
}
.header_nav dt.tech_coll{
	width:110px;
}
.header_nav dd.tech_dd{
	width:110px;
	left: 224px;
}
.header_nav .yue{
	font-style:normal;
	margin-right:10px;
	margin-left:20px;
}
.header_nav .yue .currency{
	color:#de293c;
	margin:0px 5px;
	font-weight:bold;
}
.header_nav .tixian{
	width:60px;
	font-style:normal;
	height:25px;
	background:#de293c;
	line-height:25px;
	margin-top:5px;
	text-align:center;
	margin-left:10px;
}
dt.tech_per i.icon{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 5px 3px 0 2px;
	vertical-align: -4px;
}
dt.tech_per i.icon img{
	width:20px;
	height:20px;
	border-radius:50%;
}
.header_nav ul li i.icon5{
	display: inline-block;
	width: 18px;
	height: 18px;
	margin: 5px 4px 0 5px;
	vertical-align: -2px;
	background:url("../imgs/sc_2.png") no-repeat;
}
.tech_coll i{
	display: inline-block;
	width: 21px;
	height: 18px;
	vertical-align: -4px;
}
.tech_coll i.icon2{
	background:url("../imgs/icon4.png") no-repeat;
}
.tech_coll i.role1{
	background:#f1f1f1 url(../imgs/cyr_2.png) no-repeat 3px;
}
.tech_coll i.role2{
	background:#f1f1f1 url(../imgs/xqf_2.png) no-repeat 3px;
}
.tech_coll i.role3{
	background:#f1f1f1 url(../imgs/hyzj_2.png) no-repeat 3px;
}
.tech_coll i.role4{
	border-bottom:1px solid #f1f1f1;
	background:#f1f1f1 url(../imgs/jh_2.png) no-repeat 3px;
}
.per_center i{
	display:inline-block;
	width:15px;
	height:15px;
	background:url(../imgs/per_cen.png) no-repeat;
	vertical-align: -2px;
}
.per_center:hover i{
	background:url(../imgs/per_cen1.png) no-repeat;
}
.per_center:hover a{
	color:#de293c;
}
.header_nav ul li .icon1,.header_nav ul li .icon3,.header_nav ul li .icon4{
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 7px 7px 0 8px;
	background:url("../imgs/icon5.png") no-repeat;
	vertical-align: -2px;
}
.header_nav ul li .icon3{
	background:url("../imgs/icon2.png") no-repeat;
	width: 17px;
	height: 19px;
	margin-left: 8px;
}
.header_nav ul li .icon4{
	background:url("../imgs/icon7.png") no-repeat;
}
.header_nav ul li:hover .icon1{
	background:url("../imgs/gezx_1.png") no-repeat;
}
.header_nav ul li:hover .icon5{
	background:url("../imgs/sc_1.png") no-repeat;
}
.header_nav ul li:hover .icon3{
	background:url("../imgs/ddgl_1.png") no-repeat;
}
.header_nav ul li:hover .icon4{
	background:url("../imgs/gb_1.png") no-repeat;
}
.header_nav ul li:hover a{
	color:#de293c;
}
.lg_before a{
	color: #de293c;
}
.lg_before dt{
	width:45px;
	float: left;
	text-indent: 0;
	border:none;
}

/*logo*/
.logo{
	height: 103px;
	position: relative;
    z-index: 999;
}
.logo_left{
	margin-top:20px;
	margin-right:100px;
}
.logo_right{
	width:530px;
	height:36px;
	border:2px solid #de293c;
	margin-top:36px;
}
.logo_right dl{
	width: 86px;
	background:#de293c ;
	cursor: pointer;
	float: left;
	position: relative;
}
.logo_right dt{
	width: 86px;
	line-height:36px;
	text-indent: 15px;
	font-size:14px;
	background:url(../imgs/xsj.png) 80% center no-repeat;
}
.logo_right dd{
	top: 36px;
	width: 88px;
	text-indent: 15px;
	line-height: 26px;
	position: absolute;
	left:-2px;
	color: #333;
	background:#fff;
	height:110px;
	display: none;
}

.logo_right dd ul li{
	padding:0px 2px;
	line-height:36px;
	height:36px;
	border:1px solid #f1f1f1;
	border-top:none;
	font-size:14px;
}
.logo_right dd ul li:hover{
	color:#de293c;
}
.logo_right dd ul li:hover:before{
	position:relative;
	content:"";
	display:inline-block;
	width:3px;
	height:14px;
	background:#de293c;
	margin-left:-18px;
	margin-right:15px;
	top:2px;
}
.logo_search{
	width:290px;
	line-height: 36px;
	height:36px;
	text-indent: 5px;
/* 	background: url(../imgs/search.png) no-repeat 290px; */
	padding-right:70px;
	color: #8d8d8d;
	font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}
.search_wrap{
	width:84px;
	height:36px;
	text-align: center;
	line-height:36px;
	background:#de293c;
	font-size: 14px;
	cursor: pointer;
}
/*nav*/
.navs{
	width:100%;
	background:#DD2727;
}
.nav{
	height:36px;
	z-index:99;
}
.goods_wrap{
	width:200px;
}
.goods_List{
	display: inline-block;
	width:200px;
	background: #474d53;
	color: #fff;
	line-height: 36px;
	text-align: center;
	font-size: 16px;
	float: left;
	font-weight:700;
}
.nav_list{
	line-height: 36px;
	margin-left:30px;
}
.nav_list li{
	float: left;
	text-align: center;
}
.nav_list a:hover,.nav_list a.hover{
	color: #de293c;
}
.nav_list li a{
	display: inline-block;
	height:100%;
	font-size: 16px;
	padding:0 25px;
	color: #333;
}
.nav a.mess_1{
	height: 36px;
	width:45px;
	display: inline-block;
	background: url(../imgs/ddtx_2.png) no-repeat center;
}
.nav a.mess_1:hover{
	background: url(../imgs/ddtx_1.png) no-repeat center;
}
.nav a.mess_2{
	height: 36px;
	width:45px;
	display: inline-block;
	background: url(../imgs/zxtx_2.png) no-repeat center;
	cursor:pointer;
}
.nav a.mess_2:hover{
	background: url(../imgs/zxtx_1.png) no-repeat center;
}
.nav ul li span{
	margin-top:10px;
	color: #8d8d8d;
}
.nav ul li b{
	display: inline-block;
	width:14px;
	height:14px;
	position: absolute;
	right: 5px;
    top: 2px;
    background:#999;
    font-size:12px;
    color:#fff;
    border-radius:50%;
    display:none;
}
.nav ul li:hover b{
	 background:#de293c;
}
.nav_left{
	top:34px;
	left:0;
	background: #de293c;
	font-size:12px;
}
.nav_zuo{
	position: absolute;
	left: 0;
	width: 200px;
	top:0;
	display:none;
	float:left;
	text-align:center;
	z-index:4;
}
.nav_zuo a{
	width: 170px;
    min-height: 55px;
    line-height: 55px;
    position: relative;
    cursor: pointer;
  background: url(../imgs/logo_2.png) 77% center no-repeat;   
 	float: left;
    padding: 0 4px;
    margin-left: 24px;
    color:#333;
    font-size:15px;
    text-align:left;
}
.nav_zuo li{
	width:100%;
	background: #e2eaee;
	opacity:1;
	/* background:rgba(217,62,101,0.9); */
    height: 56px;
    text-align:center;
}
.nav_zuo li a.hover{
	line-height: 25px;
	padding-left:0px;
    text-align: left;
    text-indent: 0;
    width: 131px;
    margin-left: 27px;
    background-position:right;
}
.nav_zuo li:hover,.nav_zuo li.hover{
	height:54px;
	background: #fff ;
	border:1px solid #de293c;
	/* border-right:1px solid white; */
	border-right:0px;
}
.nav_zuo li.hover a{
	 color:#de293c;
}
.nav_zhong{
	width: 716px;
	height:431px;
	border:1px solid #de293c;
	float:left;
	/* overflow:auto; */
	background:#fff;
	z-index:3;
	padding-top:15px;
	padding-left:15px;
}
.nav_zhong li{
	height:30px;
	float:left;
	padding:5px 0px;
	display:inline-block;
}
.nav_zhong li:hover a,.nav_zhong li.hover a{
	color:#de293c;
}
.nav_zhong a{
    float:left;
   /*  height:20px; */
    line-height:20px;
    /* border-right:1px solid #ccc; */
    padding:0px 14px;
    color:#333;
    display:inline-block;
}
.nav_you{
width: 380px;
   height:446px;
   border: 1px solid red;
   float: left;
   overflow:auto;
   background:#fff;
   opacity:0.9;
   border-left:none;
}
.nav_you li{
   width:355px;
   float:left;
   background:url(../imgs/squer.png) no-repeat  15px 10px;
}
.nav_you li a{
	display: inline-block;
    line-height: 100%;
    min-height: 30px;
    line-height: 20px;
    color: #000;
    padding: 0 5px;
    padding-left: 30px;
}
.nav_you li:hover a,.nav_you li.hover a{
	color:#de293c;
}
.nav_you.hover{
	z-index:999;
	display:block;
}
.nav_you {
    opacity: 0;
    border: none; 
}
.navLeft_nav{
	width: 765px;
    height: 448px;
    position: absolute;
    left: 200px;
    top: 0;
   /*  background:rgba(0, 0,0, 0.5) none repeat scroll 0 0 !important;
	filter:Alpha(opacity=50); 
	background:#000;
	display:none;
	z-index:3; */
	display:none;
}
#userRoleSelect li:hover a{
	color:#de293c;
}
#userRoleSelect li.role_1{
	background:url(../imgs/cyr_1.png) no-repeat 3px;
}
#userRoleSelect li:hover.role_1,#userRoleSelect li.hover.role_1{
	background:url(../imgs/cyr_2.png) no-repeat 3px;
}
#userRoleSelect li.role_2{
	background:url(../imgs/xqf_1.png) no-repeat 3px;
}
#userRoleSelect li:hover.role_2,#userRoleSelect li.hover.role_2{
	background:url(../imgs/xqf_2.png) no-repeat 3px;
}
#userRoleSelect li.role_3{
	background:url(../imgs/hyzj_1.png) no-repeat 3px;
}
#userRoleSelect li:hover.role_3,#userRoleSelect li.hover.role_3{
	background:url(../imgs/hyzj_2.png) no-repeat 3px;
}
#userRoleSelect li.role_4{
	background:url(../imgs/jh_1.png) no-repeat 3px;
}
#userRoleSelect li:hover.role_4,#userRoleSelect li.hover.role_4{
	background:url(../imgs/jh_2.png) no-repeat 3px;
}
/*左侧猜你喜欢*/
.guess_like{
	width: 140px;
	height:500px;
	z-index: 999;
	background: #f1f1f1;
	right:-140px;
	bottom:60px;
}
.hg_logo{
	background: url(../imgs/logo_hg.png) no-repeat center;
	width:140px;
	height: 120px;
}
.guess_like dd{
	line-height: 57px;
}
.guess_like dd a{
	display:block;
	width:100%;
	height:100%;
	color: #333;
	line-height: 57px;
	border-bottom: 1px solid #de293c ;
	font-size:14px;
}
.guess_like dd a:hover{
	background: #de293c;
	color:#fff;
}
.guess_like dd a.bn{
	border:none;
}
.gue_tel{
	height:75px;
	background: #666;
	line-height: 28px;
	color:#474d53;
	font-size:16px;
	padding-top:15px;
}
.gue_tel p{
	color:#fff;
}
.gue_click{
	width:20px;
	height:105px;
	padding: 10px 10px 0 10px;
	background:#de293c;
	color:#fff;
	position: absolute;
	top:177px;
	left:-40px;
	cursor: pointer;
	line-height: 20px;
}
.gue_click b{
	display:block;
	width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 10px solid white;
    border-bottom: 5px solid transparent;
    margin-left:5px;
    margin-top:5px;
}

/*蒙层*/
.layout {
	width: 100%;
	height: 100%;
	background:#000;
	opacity:.6;
	filter:alpha(opacity=60);
	-moz-opacity:.6;
	-khtml-opacity:.6;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	display: none;
}
/*找回密码弹框*/
.backpas {
	width: 500px;
	height: 520px;
	background: #FFF;
	z-index: 9999;
	border-radius: 5px;
	top:50%;
	margin-top:-260px;
	left:50%;
	margin-left:-250px;
	display: none;
}
.find_T p {
	margin-right: 15px;
}
.find_T h4 {
	margin: 20px 0 10px 200px;
}
.find_T span {
	width: 135px;
	height: 3px;
	background: #CC1A27;
	display: block;
	border-radius: 5px;
	margin-left: 185px;
}
.find_Inp p {
	width: 405px;
	height: 42px;
	line-height: 42px;
	color: #c4c4c4;
	border: 1px solid #dfdfdf;
	margin: 35px 0 0 50px;
	background: #f7f7f7;
	position: relative;
}
.find_inpuT {
	width: 10px;
}
.find_Inp input {
	width: 285px;
	height: 36px;
	line-height: 40px;
	text-indent: 15px;
	background: #f7f7f7;
	color: #a8a8a8;
}
.find_btn {
	display: inline-block;
	width: 90px;
	height: 48px;
	color: #555;
	outline: none;
	background: url(../imgs/find_2.png) no-repeat;
	cursor: pointer;
	text-align: center;
}
.find_Inp i {
	width: 100px;
	display: block;
	float: left;
	padding-left: 15px;
}
.find_Inp label{
	color: red;
	position: absolute;
	top:40px;
	left:0;
	font-size: 12px;
}

.find_p {
	width: 400px;
	line-height: 30px;
	margin: 20px 0px 10px 55px;
	font-weight: bold;
}
.find_p p {
	float: left;
	cursor: pointer;
}
.find_p p.find_pa {
	float: right;

}
.find_p p.find_pa a{
	color: #64acd5;	
}
.find_p input {
	width: 16px;
	height: 16px;
	float: left;
	margin: 8px 5px 5px 5px;
}
.find_p a {
	
	float: left;
}
.find_p img {
	width: 13px;
	height: 16px;
	float: left;
	margin: 7px 0 0 3px;
}
.find_a input {
	width: 182px;
	height: 38px;
	display: block;
	text-align: center;
	line-height: 38px;
	margin: 80px 0 0 150px;
	border-radius: 5px;
	color: #FFF;
}
/*登录弹框*/
.loglay {
	width: 500px;
	height: 390px;
	background: #FFF;
	z-index: 9999;
	border-radius: 5px;
	top:50%;
	left:50%;
	margin-left:-250px;
	margin-top:-195px;
	display: none;
}
.loglay_T p {
	margin-right: 15px;
}
.loglay_T h4 {
	margin: 20px 0 10px 200px;
}
.loglay_T span {
	width: 135px;
	height: 3px;
	background: #CC1A27;
	display: block;
	border-radius: 5px;
	margin-left: 185px;
}
.loglay_Inp p {
	width: 385px;
	height: 43px;
	line-height: 43px;
	text-indent: 35px;
	color: #c4c4c4;
	border: 1px solid #dfdfdf;
}
.loglay_Inp input {
	width: 344px;
	height:43px;
	line-height:43px;
	text-indent: 35px;
	color: #c4c4c4;
	background: #f7f7f7;
	float: left;
	font-size: 16px;
}
.loglay_Inp span{
	height: 43px;
	display: block;
    float: left;
    margin-left: 40px;
	border-right: 1px solid #cccccc;
}
.loglay_input {
	width: 20px;
	height: 30px;
	margin: 30px 0px 15px 50px;
	*margin: 30px 0px 15px 15px;
	background: #f7f7f7 url(../imgs/dL_1.png) no-repeat 8px;
}
.loglay_inpuT {
	width: 20px;
	height: 30px;
	background: #f7f7f7 url(../imgs/dL_2.png) no-repeat 8px;
	margin: 30px 0px 10px 50px;
}

.loglay_p {
	line-height: 30px;
	margin: 20px 0px 10px 50px;
}

.loglay_p input {
	width: 16px;
	height: 16px;
	float: left;
	margin: 8px 5px 5px 5px;
}

.loglay_p a {
	margin-left: 220px;
	color: #85d564;
}

.loglay_a a {
	width: 182px;
	height: 38px;
	display: block;
	text-align: center;
	line-height: 38px;
	float: left;
	margin: 10px 0 0 45px;
	border-radius: 5px;
	color: #FFF;
}
.rg {
	background: #de293c;
}

.fg {
	background: #3399cc;
}
/*协议弹框*/
.agreement {
	width: 800px;
	height: 580px;
	z-index: 99999;
	border-radius: 5px;
	background: #FFF;
	top:50%;
	left:50%;
	margin-left:-400px;
	margin-top:-290px;
	display: none;
}

.agree_top {
	width: 100%;
	height: 45px;
	background: #eee;
	color: #666666;
	line-height: 45px;
	border-radius: 5px 5px 0 0;
}

.agree_top i {
	float: left;
	margin-left: 20px;
}

.agree_top a {
	float: right;
	margin: 3px 20px 0 10px;
	*margin: 13px 20px 0 10px;
}

.agree_con {
	width: 700px;
	height: 450px;
	padding: 0 50px;
	margin: auto;
	overflow: auto;
}

.agree_con p {
	margin-top: 5px;
	line-height: 20px;
	font-size: 12px;
	color: #333;
}

.agree_con p b {
	display: block;
	margin-left: 25px;
}

.agree_con h3 {
	margin: 20px 0px 20px 0;
	color: #dd3a3a;
}

.agree_h {
	width: 150px;
	height: 50px;
	color: #FFF;
	margin: 20px auto;
	text-align: center;
	line-height: 50px;
	border-radius: 5px;
	background: #de293c;
	cursor: pointer;
}

/*底部logo*/

.logoList {
	width: 1200px;
	margin: auto;
}

.logoList ul li {
	display: inline-block;
	width: 25%;
	height: 90px;
	float: left;
	text-align: center;
	line-height: 90px;
	margin: 10px 0;
}

.logoList ul li>img {
	border: 1px solid #fff;
}

.logoList li:hover>img {
	border: 1px solid #9D9D9D;
}

.base {
	width: 100%;
	height: 100px;
	background: #de293c;
	text-align: center;
}

.base_1 {
	height: 65px;
	width: 62px;
	background: url(../imgs/base_7.png) 2px 0;
}

.dase_top dl {
	width: 108px;
	height: 90px;
	margin: 0px 45px 0 47px;
	color: #FFF;
}

.dase_top dl dt {
	height: 62px;
	margin: 2px 20px 9px 25px;
}

.dase_top dl dd {
	text-align: center;
	font-size: 14px;
}

.base_2 {
	height: 57px;
	width: 57px;
	background: url(../imgs/base_7.png) -55px 0 no-repeat;
}

.base_3 {
	height: 64px;
	width: 52px;
	background: url(../imgs/base_7.png) -109px 0;
}

.base_4 {
	height: 56px;
	width: 54px;
	background: url(../imgs/base_7.png) -167px 5px;
}

.base_5 {
	height: 60px;
	width: 60px;
	background: url(../imgs/base_7.png) -220px 2px;
}

.dase_top dl dt.base_6 {
	/* height: 54px; */
	width: 44px;
	background: url(../imgs/base_7.png) -277px 3px;
	margin-left:30px;
}

.Tase {
	width: 100%;
	height: 210px;
	background: #373737;
}

.Tase p {
	line-height: 30px;
	color: #FFF;
	 filter:alpha(opacity=76);
	 -moz-opacity:.76;
	 -khtml-opacity:.76;
	 opacity:.76;
}

.Tase_a {
	margin: 40px;
	
}
.Tase_a i{
	color: #666;
	
}
.Tase_a a {
	margin: 0px 30px 0px 30px;
	color: #FFF;
	
}


/*找回密码弹框*/
.reger {
	width: 500px;
	height: 520px;
	background: #FFF;
	z-index: 9999;
	border-radius: 5px;
	top:50%;
	margin-top:-260px;
	left:50%;
	margin-left:-250px;
	display: none;
}
.ger_T p {
	margin-right: 15px;
}
.ger_T h4 {
	margin: 20px 0 10px 200px;
}
.ger_T span {
	width: 135px;
	height: 3px;
	background: #CC1A27;
	display: block;
	border-radius: 5px;
	margin-left: 185px;
}
.ger_Inp p {
	width: 405px;
	height: 42px;
	line-height: 42px;
	color: #c4c4c4;
	border: 1px solid #dfdfdf;
	margin: 35px 0 0 50px;
	background: #f7f7f7;
	position: relative;
}
.ger_inpuT {
	width: 10px;
}
.ger_Inp input {
	width: 285px;
	height: 36px;
	line-height: 40px;
	text-indent: 15px;
	background: #f7f7f7;
	color: #a8a8a8;
}
.ger_btn {
	display: inline-block;
	width: 90px;
	height: 48px;
	color: #555;
	outline: none;
	background:url(../imgs/find_2.png) no-repeat;
	cursor: pointer;
	text-align: center;
}
.ger_Inp i {
	width: 100px;
	display: block;
	float: left;
	padding-left: 15px;
}
.ger_p {
	width: 400px;
	line-height: 30px;
	margin: 20px 0px 10px 55px;
}
.ger_p p {
	float: left;
	cursor: pointer;
}
.ger_p p.ger_pa {
	float: right;
}
.ger_p input {
	width: 16px;
	height: 16px;
	float: left;
	margin: 8px 5px 5px 5px;
}
.ger_p a {
	color: #85d564;
	float: left;
}
.ger_p img {
	width: 13px;
	height: 16px;
	float: left;
	margin: 7px 0 0 3px;
}
.ger_a input{
	width: 182px;
	height: 38px;
	display: block;
	text-align: center;
	line-height: 38px;
	margin:25px 0 0 150px;
	border-radius: 5px;
	color: #FFF;
}
.reger label{
	color: red;
	font-size: 12px;
	position: absolute;
	top:35px;
	left:0;
}
.reger_p {
	line-height: 30px;
	margin: 20px 0px 10px 50px;
	color:#646464;
}

.reger_p input {
	width: 16px;
	height: 16px;
	float: left;
	margin: 8px 5px 5px 5px;
}

.reger_p a {
	margin-left: 22px;
	color: #64acd5;
}

.Rcon_ulWrap>dd{
	display: none;
}



.login_iframe{
	position: fixed;
	z-index:9999;
}
/*专家咨询框*/
.expert_dialog{
    width: 450px;
    height: 452px;
    position: fixed;
    z-index: 99999;
    display:none;
    bottom:0;
    right:0;
}
.dialogTop{
	width:100%;
	height:50px;
	background: #de293c;
	border-radius: 15px 15px  0 0;
	position:relative;
}
.log_header{
	width:31px;
	height:31px;
	margin-left: 30px;
	margin-top: 10px;
}
.dialogTop h3{
	font-size: 20px;
	margin-top: 15px;
    margin-left: 20px;
	color: #fff;
	height: 25px;
}
.dialogTop h3 img{
	
}
.dialogTop h3 b{
	display: inline-block;
	width: 10px;
	height: 10px;
	background: url(../imgs/di_c1.png) no-repeat center;
	margin: 0 10px;
}
.dialogTop h3 i{
	display: inline-block;
	width: 10px;
	height: 10px;
	background: url(../imgs/di_c2.png) no-repeat center;
	margin: 0 10px;
}
.dialogTop p{
	    width: 245px;
    line-height: 17px;
    margin-left: 76px;
    font-size: 14px;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}
.cc6{
	color:#fdf5c5;
}
.dialogclose{
	width: 15%;
	height: 30px;
	position:absolute;
	right:-24px;
}
.dialogclose .closes{
	width: 22px;
	height: 22px;
	float: right;
	margin:5px 30px 0 0;
	background:#fff;
	border-radius:22px;
}
.dialogclose a{
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../imgs/close_di.png) no-repeat center;
	float: right;
	margin:2px 2px 0 0;
	transition: all .3s;
}
.dialogclose a:hover{
	transform: rotateZ(180deg);
}
.log_center{
	width:300px;
	
}
.log_center span{
	display:inline-block;
	width:300px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.log_header img{
	width:31px;
	height:31px;
}
.log_right{
	width: 170px;
	margin-top: 27px;
	margin-right: 28px;
	color: #fff;
}
.log_right button{
	width: 90px;
	height: 28px;
	border: none;
	text-align: center;
	line-height: 28px;
	background: #f4f4f4;
	color: #de293c;
	border-radius: 5px;
	margin-left: 15px;
}
.dialogc_wrap{
	height: 250px;
	    width: 100%;

	overflow-x: hidden;
	overflow-y: auto;
	 background: #fff;
	 border-left:1px solid #de293c;
	 border-right:1px solid #de293c;
}
.dialogcenter{
	padding:50px 0;
	position: relative;
}
.diaExert{
	width:98%;
	margin-left: 25px;
	margin-top: 10px;
	margin-right:25px;
}
.diaExert img{
	width: 43px;
	height: 43px;
	margin-top: 5px;
	    border-radius: 50%;
	}
.diaExert p{
	color: #999;
	font-size: 12px;
}
.diaExert .diakaung{
	min-height: 14px;
	background: #e9e8e8;
	border-radius: 5px;
	position: relative;
	line-height: 14px;
	padding:10px 5px;
	margin-top: 5px;
	font-size:12px;
}
.diaExert .diakaung span{
	display: inline-block;
	width:16px;
	height:27px;
	background:  url(../imgs/di_k3.png) no-repeat center;
	position: absolute;
	left: -13px;
    top: 7px;
}
.diaUser {
	width: 100%;
	margin-top: 10px;
}
.diaUser  img{
	width: 43px;
	height: 43px;
	margin-top: 8px;
	margin-right: 25px;
	margin-left: 7px;
}
.diaUser p{
	color: #999;
	font-size: 12px;
}
.diaUser .diakaung{
	min-height: 14px;
	background: #e9e8e8;
	border-radius: 5px;
	position: relative;
	line-height: 14px;
	padding:10px 5px;
	margin-top: 5px;
	text-align: center;
	font-size:12px;
}
.diaUser .diakaung span{
	display: inline-block;
	width:16px;
	height:22px;
	background:  url(../imgs/di_k4.png) no-repeat center;
	position: absolute;
	right: -13px;
    top: 12px;
}
.dialogfc li{
	float: left;
	width: 15px;
	height: 15px;
	margin:20px 0 0 27px;
}
.dialogfc li.meg1{
	background: url(../imgs/di_b1.png) no-repeat center;
}
.dialogfc li.meg2{
	background: url(../imgs/di_b2.png) no-repeat center;
}
.dialogfc li.meg3{
	background: url(../imgs/di_b3.png) no-repeat center;
}
.dialogfc li.meg4{
	background: url(../imgs/di_b4.png) no-repeat center;
}
.dialogfc li.meg5{
	background: url(../imgs/di_b5.png) no-repeat center;
}
.dialogfc{
	height: 2px;
	background: #de293c;
}
.dialogfc button{
	width:110px;
	height:26px;
	text-align: center;
	line-height: 26px;
	background: #f6f7f6;
	border: none;
	color: #333333;
	border-radius: 25px;
	margin:12px 30px 0 0;
	cursor: pointer;
}
.dialogmsg{
	min-height: 70px;
    background: #fff;
    border-left: 1px solid #de293c;
}
.dialogmsg textarea{
	width: 99%;
	min-height: 70px;
	resize: none;
	border: none;
	 background: #fff;
}
.dialogfooter{
	height: 50px;
	background: #de293c;
	border-radius: 0 0 15px 15px;
}
.dialogfooter span{
	font-size: 18px;
	color: #fff;
	line-height: 50px;
	margin-right: 18px;
}
.dialogfooter button{
	width:110px;
	height:26px;
	text-align: center;
	line-height: 26px;
	background: #f6f7f6;
	border: none;
	color: #333333;
	border-radius: 25px;
	margin:12px 7px 0 0;
	cursor: pointer;
}

.Notifications{
	position:fixed;
	bottom:0px;
	right:0px;
	z-index:99999;
	width: 260px;
    height: 100px;
	border:1px solid #fda0a0;
	border-radius:15px 15px 0 0;
	display:none;
}
.Notifications_wrap{
	position:fixed;
	bottom:0px;
	right:0px;
	background: #fff;
    opacity: .3;
    z-index:9999;
    width: 260px;
    height: 100px;
    border-radius:15px 15px 0 0;
    display:none;
}
.Notifications div.dialogTop{
	background:#ff9898;
	height: 43px;
}
.Notifications div.log_header{
	width:26px;
	height:24px;
	    margin-left: 17px;
    margin-top: 11px;
} 
.Notifications div.log_header img{
	width:26px;
	height:24px;
}    
.Notifications P{
	text-align:center;
	font-size: 14px;
}
.Notifications P a{
	width: 100%;
    display: inline-block;
}
/*融云蒙层*/
.layouts {
	width: 100%;
	height: 100%;
	background:#000;
	opacity:.6;
	filter:alpha(opacity=60);
	-moz-opacity:.6;
	-khtml-opacity:.6;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	display:none;
}
/*页面是否显示商务通*/
.refer-layOut{
	width:100%;
	height:100%;
	position: fixed;
	z-index:999999;
	display: none;
	top:0;
	left:0;
}
.refer-lay{
	width: 440px;
	height: 180px;
	background: url("../imgs/ref-lay2.png") no-repeat;
	position: fixed;
	top:50%;
	left:50%;
	margin-top:-90px;
	margin-left:-220px;
}
.refer-close{
	width: 100%;
}
.refer-close span{
	display: inline-block;
    width: 26px;
    height: 26px;
    background: url(../imgs/ref-close1.png) no-repeat;
    margin: 7px 10px 0 0;
    cursor: pointer;
    float: right;
    -webkit-transition:transform 1s;
    -moz-transition:transform 1s;
    -o-transition:transform 1s;
    transition:transform 1s;
}
.refer-close span:hover{
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	transform:rotate(360deg);
}
.refer-button{
	width:276px;
	margin: auto;
	margin-top: 80px;
}
.refer-button div{
	width:112px;
	height:34px;
	float: left;
	cursor:pointer;
}
.refer-button div.btn1{
	margin-right:49px;	
}
@keyframes translate{
	0%{
		left:50%;
		margin-left:-220px;
		top:50%;
		margin-top:-90px;
		opacity:1;
	}
	100% {
		left:90%;
		top:60%;
		opacity:0;
	}
}
/*右侧链接百家院校*/
.baijia{
	position:fixed;
	right:-5px;
	bottom:300px;
	z-index:999;
}
/*右侧导航条*/
.nav-bar{
	position: fixed;
	right:0px;
	bottom:60px;
	z-index:999;
}
.nav-bar li{
	width:70px;
	height: 47px;
	margin-bottom: 2px;
	background: #de293c;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	text-align: center;
	cursor: pointer;
}
.nav-bar li:hover{
	opacity:.8;
	-moz-opacity:.8;
	-webkit-opacity:.8;
}
.nav-bar li img{
	margin-top: 5px;
	height: 22px;
}
.nav-bar li a{
	display: inline-block;
	width: 100%;
	font-size: 12px;
	color: #fff;
	text-align: center;
	    position: relative;
    top: -2px;
}
.nav-bar li b{
	display: inline-block;
	position: absolute;
	display:none;
}
.nav-bar li b.bar-1{
	background: url(../imgs/nav-bar1.png);
	width: 134px;
	height: 48px;
	left: -131px;
	top: 0px;
}
.nav-bar li b.bar-2{
	background: url(../imgs/nav-bar2.png);
	width: 128px;
	height: 120px;
	left: -135px;
	top: -35px;
}
.nav-bar li b.bar-3{
	background: url(../imgs/nav-bar7.png);
	width: 128px;
	height: 120px;
	left: -135px;
	top: -35px;
}
/* 顶部导航条 */
.tech_barwrap{
	background:#de293c;
	width:100%;
	position:fixed;
	top:0;
	z-index:999999;
	height:50px;
	display:none;
}
.tech_bar{
	width:1200px;
	margin:auto;
}
.tech_bar li{
	width: 220px;
	height:50px;
	float:left;
	margin-right:20px;
}
.tech_bar li a{
	display:inline-block;
	width:220px;
	height:40px;
	margin-top:5px;
	line-height:40px;
	color:#fff;
}
.tech_bar li b{
	display:inline-block;
	width:37px;
	height:37px;
	float:left;
	margin:2px 10px 0 30px;
}
.tech_bar li:hover a{
	color:#333;
	background:#ffffff;
}
.tech_bar li b.publish1{
	background: url(../imgs/tech-bar4.png) no-repeat center;
}
.tech_bar li:hover b.publish1{
	background: url(../imgs/tech-bar3.png) no-repeat center;
}
.tech_bar li b.publish2{
	background: url(../imgs/tech-bar2.png) no-repeat center;
}
.tech_bar li:hover b.publish2{
	background: url(../imgs/tech-bar1.png) no-repeat center;
}
.tech_bar li b.publish3{
	background: url(../imgs/tech-bar6.png) no-repeat center;
}
.tech_bar li:hover b.publish3{
	background: url(../imgs/tech-bar5.png) no-repeat center;
}
.tech_bar li b.publish4{
	background: url(../imgs/tech-bar8.png) no-repeat center;
}
.tech_bar li:hover b.publish4{
	background: url(../imgs/tech-bar7.png) no-repeat center;
}
.animated {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}

@-webkit-keyframes flip {
  from {
    -webkit-transform: perspective(3000px) rotate3d(0, 1, 0, -360deg);
    transform: perspective(3000px) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  40% {
    -webkit-transform: perspective(3000px) translate3d(0, 0, 50px) rotate3d(0, 1, 0, -190deg);
    transform: perspective(3000px) translate3d(0, 0, 50px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

 /*  50% {
    -webkit-transform: perspective(3000px) translate3d(0, 0, 50px) rotate3d(0, 1, 0, -170deg);
    transform: perspective(3000px) translate3d(0, 0, 50px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  } */

  80% {
    -webkit-transform: perspective(3000px) scale3d(.95, .95, .95);
    transform: perspective(3000px) scale3d(.95, .95, .95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  } 

  to {
    -webkit-transform: perspective(3000px);
    transform: perspective(3000px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}

@keyframes flip {
  from {
    -webkit-transform: perspective(3000px) rotate3d(0, 1, 0, -360deg);
    transform: perspective(3000px) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  40% {
    -webkit-transform: perspective(3000px) translate3d(0, 0, 50px) rotate3d(0, 1, 0, -190deg);
    transform: perspective(3000px) translate3d(0, 0, 50px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  /* 50% {
    -webkit-transform: perspective(3000px) translate3d(0, 0, 50px) rotate3d(0, 1, 0, -170deg);
    transform: perspective(3000px) translate3d(0, 0, 50px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  } */

  80% {
    -webkit-transform: perspective(3000px) scale3d(.95, .95, .95);
    transform: perspective(3000px) scale3d(.95, .95, .95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  to {
    -webkit-transform: perspective(3000px);
    transform: perspective(3000px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}

.animated.flip {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation-name: flip;
  animation-name: flip;
}